html, body, .ui-widget {
  font-size: 22px; }

.ui-input-overlay {
  border: none;
  border-radius: 0;
  left: 0 !important;
  width: 100% !important; }

.ui-button.ui-state-default {
  height: 84px;
  min-width: 30px;
  padding: 0 10px; }
  .ui-button.ui-state-default .ui-icon:before {
    font-size: 2em; }

.ui-chkbox .ui-chkbox-box.ui-state-default {
  height: 84px;
  min-width: 30px;
  padding: 0 10px;
  padding: 0;
  width: 84px; }
  .ui-chkbox .ui-chkbox-box.ui-state-default .ui-icon:before {
    font-size: 2em; }
  .ui-chkbox .ui-chkbox-box.ui-state-default .ui-icon-check:before {
    padding: 7px 2px 0 0; }

.ui-inputfield.ui-state-default {
  height: 84px;
  line-height: calc(84px - 2 * (5px)); }

.ui-selectonemenu.ui-state-default .ui-inputfield {
  height: 84px;
  line-height: calc(84px - 2 * (5px)); }
.ui-selectonemenu.ui-state-default .ui-selectonemenu-trigger {
  height: 84px;
  min-width: 30px;
  padding: 0 10px;
  height: auto;
  padding: 0; }
.ui-selectonemenu.ui-state-default .ui-icon:before {
  font-size: 2em; }
.ui-selectonemenu.ui-state-default .ui-icon-triangle-1-s:before {
  font-size: 2.5em; }

.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
  max-height: 400px !important; }
  .ui-selectonemenu-panel .ui-selectonemenu-items-wrapper .ui-selectonemenu-list {
    padding: 15px 0; }
    .ui-selectonemenu-panel .ui-selectonemenu-items-wrapper .ui-selectonemenu-list:before {
      border-bottom: 2px solid #c4c4c4;
      content: '';
      display: block;
      width: calc(100% - (2 * 15px));
      margin: 0 15px; }
    .ui-selectonemenu-panel .ui-selectonemenu-items-wrapper .ui-selectonemenu-list .ui-selectonemenu-item {
      border-radius: 0;
      font-size: 1.2em;
      font-weight: 700;
      height: 50px;
      line-height: calc(50px - 2px);
      margin: 0;
      padding: 0 15px;
      text-shadow: none; }
      .ui-selectonemenu-panel .ui-selectonemenu-items-wrapper .ui-selectonemenu-list .ui-selectonemenu-item:after {
        border-bottom: 2px solid #ededed;
        content: '';
        display: block; }
      .ui-selectonemenu-panel .ui-selectonemenu-items-wrapper .ui-selectonemenu-list .ui-selectonemenu-item.ui-state-hover:not(.ui-state-highlight), .ui-selectonemenu-panel .ui-selectonemenu-items-wrapper .ui-selectonemenu-list .ui-selectonemenu-item:hover:not(.ui-state-highlight) {
        background: none; }
      .ui-selectonemenu-panel .ui-selectonemenu-items-wrapper .ui-selectonemenu-list .ui-selectonemenu-item.ui-state-highlight:after {
        border-color: rgba(255, 255, 255, 0); }

.ui-selectcheckboxmenu.ui-state-default .ui-inputfield {
  height: 84px;
  line-height: calc(84px - 2 * (5px)); }
.ui-selectcheckboxmenu.ui-state-default .ui-selectcheckboxmenu-trigger {
  height: 84px;
  min-width: 30px;
  padding: 0 10px;
  height: auto;
  padding: 0; }
.ui-selectcheckboxmenu.ui-state-default .ui-icon:before {
  font-size: 2em; }
.ui-selectcheckboxmenu.ui-state-default .ui-icon-triangle-1-s:before {
  font-size: 2.5em; }

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper {
  max-height: 400px !important; }
  .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper .ui-selectcheckboxmenu-list {
    padding: 15px 0; }
    .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper .ui-selectcheckboxmenu-list:before {
      border-bottom: 2px solid #c4c4c4;
      content: '';
      display: block;
      width: calc(100% - (2 * 15px));
      margin: 0 15px; }
    .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper .ui-selectcheckboxmenu-list .ui-selectcheckboxmenu-item {
      border-radius: 0;
      font-size: 1.2em;
      font-weight: 700;
      height: 50px;
      line-height: calc(50px - 2px);
      margin: 0;
      padding: 0 15px;
      text-shadow: none; }
      .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper .ui-selectcheckboxmenu-list .ui-selectcheckboxmenu-item:after {
        border-bottom: 2px solid #ededed;
        content: '';
        display: block; }
      .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper .ui-selectcheckboxmenu-list .ui-selectcheckboxmenu-item.ui-state-hover:not(.ui-state-highlight), .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper .ui-selectcheckboxmenu-list .ui-selectcheckboxmenu-item:hover:not(.ui-state-highlight) {
        background: none; }
      .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper .ui-selectcheckboxmenu-list .ui-selectcheckboxmenu-item.ui-state-highlight:after {
        border-color: rgba(255, 255, 255, 0); }

.ui-selectcheckboxmenu.ui-state-default .ui-selectcheckboxmenu-multiple-container .ui-selectcheckboxmenu-token {
  height: 84px;
  min-width: 30px;
  padding: 0 10px; }
  .ui-selectcheckboxmenu.ui-state-default .ui-selectcheckboxmenu-multiple-container .ui-selectcheckboxmenu-token .ui-selectcheckboxmenu-token-icon {
    margin-right: -10px;
    padding: 0 10px; }

.ui-selectcheckboxmenu-panel {
  padding: 15px 0; }
  .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header {
    background: repeating-linear-gradient(to bottom, #00663a, #007a45 84px); }
    .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-title {
      line-height: 84px; }
    .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-icon:before {
      font-size: 2em; }
    .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-icon:before {
      font-size: 2.5em; }
  .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close {
    font-size: 22px;
    height: 84px;
    width: 84px; }

.ui-datepicker {
  padding: 15px 0; }
  .ui-datepicker .ui-datepicker-header {
    background: repeating-linear-gradient(to bottom, #00663a, #007a45 84px); }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
      line-height: 84px; }
    .ui-datepicker .ui-datepicker-header .ui-icon:before {
      font-size: 2em; }
    .ui-datepicker .ui-datepicker-header .ui-icon:before {
      font-size: 2.5em; }
  .ui-datepicker .ui-datepicker-header {
    margin: 0; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-prev, .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
      font-size: 22px;
      height: 84px;
      width: 84px; }
  .ui-datepicker .ui-datepicker-calendar {
    margin: 0 15px;
    width: calc(100% - (2 * 15px)); }
    .ui-datepicker .ui-datepicker-calendar > tbody {
      border-width: 2px 0; }
      .ui-datepicker .ui-datepicker-calendar > tbody > tr:last-child .ui-state-default {
        margin-bottom: 2px; }
      .ui-datepicker .ui-datepicker-calendar > tbody .ui-state-default {
        font-size: 1.2em;
        font-weight: 700;
        line-height: calc(84px - 2px);
        padding: 0; }
        .ui-datepicker .ui-datepicker-calendar > tbody .ui-state-default:after {
          border-bottom: 2px solid #ededed;
          content: '';
          display: block; }
        .ui-datepicker .ui-datepicker-calendar > tbody .ui-state-default.ui-state-hover {
          background: transparent; }
          .ui-datepicker .ui-datepicker-calendar > tbody .ui-state-default.ui-state-hover:after {
            background: none; }
  .ui-datepicker .ui-timepicker-div dl dt {
    height: 50px;
    line-height: 50px;
    padding-left: 25px; }
  .ui-datepicker .ui-timepicker-div dl dd {
    padding-right: 25px; }
  .ui-datepicker .ui-timepicker-div .ui_tpicker_time_label {
    height: 50px;
    line-height: 50px;
    padding-left: 40px; }
  .ui-datepicker .ui-timepicker-div .ui_tpicker_time {
    font-size: 1.2em;
    height: 50px;
    line-height: 50px; }

.ui-slider .ui-slider-handle.ui-state-default {
  height: 84px;
  min-width: 30px;
  padding: 0 10px;
  margin-left: -42px;
  top: -38px;
  width: 84px; }

.jeesl-header {
  border-color: transparent;
  height: 84px; }
  .jeesl-header .jeesl-dropdown-list {
    height: 0;
    opacity: 1;
    overflow: hidden;
    transition: opacity 0s .4s, height .4s ease-in-out, visibility 0s .4s;
    visibility: visible;
    width: 100%;
    z-index: 2000; }
    .jeesl-header .jeesl-dropdown-list:before, .jeesl-header .jeesl-dropdown-list:after {
      content: '';
      display: list-item;
      height: 15px;
      width: 100%; }
    .jeesl-header .jeesl-dropdown-list .jeesl-dropdown-item {
      display: list-item;
      opacity: 0;
      padding: 0 15px;
      transition: opacity 0s .4s;
      width: 100%; }
      .jeesl-header .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label {
        border-bottom-width: 2px;
        display: flex;
        height: 84px;
        line-height: 84px;
        margin: 0;
        padding: 0 10px;
        text-align: left;
        width: 100%; }
        .jeesl-header .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label .jeesl-dropdown-item-label-icon {
          margin: 0;
          padding: 9px; }
  .jeesl-header .jeesl-burger-menu-icon {
    height: 84px;
    padding: calc(74px / 2) 15px;
    width: 84px; }
    .jeesl-header .jeesl-burger-menu-icon:before {
      margin-top: calc(-84px / 4); }
    .jeesl-header .jeesl-burger-menu-icon:after {
      margin-top: calc(84px / 4); }
    .jeesl-header .jeesl-burger-menu-icon:before, .jeesl-header .jeesl-burger-menu-icon:after {
      height: 10px; }
    .jeesl-header .jeesl-burger-menu-icon.jeesl-active:before {
      transform: translateY(calc(84px / 4)) rotate(-45deg); }
    .jeesl-header .jeesl-burger-menu-icon.jeesl-active:after {
      transform: translateY(calc(-84px / 4)) rotate(45deg); }
  .jeesl-header .jeesl-burger-menu-icon {
    display: inline-block;
    top: 0; }
  .jeesl-header .jeesl-dropdown-list {
    background: white;
    margin: 0;
    opacity: 0;
    top: 84px;
    visibility: hidden; }
    .jeesl-header .jeesl-dropdown-list.jeesl-active {
      opacity: 1;
      visibility: visible; }
    .jeesl-header .jeesl-dropdown-list .jeesl-dropdown-item.jeesl-active .jeesl-dropdown-item-label {
      color: white; }
    .jeesl-header .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label {
      float: none; }

.jeesl-breadcrumb-header {
  margin: 0 10px; }
  .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item {
    position: initial; }
    .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item > * {
      font-size: 22px; }
    .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-menu-bar-button {
      height: 84px;
      transition-duration: .4s; }
      .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-menu-bar-button .jeesl-menu-bar-button-summary {
        display: inline-block; }
      .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-menu-bar-button .jeesl-menu-bar-button-selected-items {
        display: none; }
  .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-subtitle {
    line-height: 84px; }
  .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item:not(:last-child) .jeesl-menu-bar-button {
    padding-right: 36px; }
    .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item:not(:last-child) .jeesl-menu-bar-button:before, .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item:not(:last-child) .jeesl-menu-bar-button:after {
      border-width: calc(84px / 2) 1px calc(84px / 2) calc(84px / 2); }
  .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item:not(:last-child) .jeesl-dropdown-list {
    right: 0; }
    .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item:not(:last-child) .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label {
      height: 84px;
      line-height: 84px; }
      .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item:not(:last-child) .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label:before, .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item:not(:last-child) .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label:after {
        display: none; }
  .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-menu-bar-button {
    line-height: 84px;
    padding: 0 15px; }
    .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-menu-bar-button a.jeesl-menu-bar-button-label {
      display: none; }
      .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-menu-bar-button a.jeesl-menu-bar-button-label + .jeesl-menu-bar-button-label {
        display: inline-block; }
    .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-menu-bar-button.jeesl-active {
      background: linear-gradient(to right, #00663a, #008a4e) 12500% 0/99% 100% no-repeat; }
  .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list {
    height: 0;
    opacity: 1;
    overflow: hidden;
    transition: opacity 0s .4s, height .4s ease-in-out, visibility 0s .4s;
    visibility: visible;
    width: 100%;
    z-index: 2000; }
    .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list:before, .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list:after {
      content: '';
      display: list-item;
      height: 15px;
      width: 100%; }
    .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item {
      display: list-item;
      opacity: 0;
      padding: 0 15px;
      transition: opacity 0s .4s;
      width: 100%; }
      .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label {
        border-bottom-width: 2px;
        display: flex;
        height: 84px;
        line-height: 84px;
        margin: 0;
        padding: 0 10px;
        text-align: left;
        width: 100%; }
        .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label .jeesl-dropdown-item-label-icon {
          margin: 0;
          padding: 9px; }
  .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item {
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: normal; }
    .jeesl-breadcrumb-header .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item:first-child {
      display: list-item; }

.jeesl-status-bar {
  background: repeating-linear-gradient(to bottom, #00663a, #007a45 84px);
  height: auto;
  margin-top: 0; }
  .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item {
    position: initial; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item > * {
      font-size: 22px; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-menu-bar-button {
      height: 84px;
      transition-duration: .4s; }
      .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-menu-bar-button .jeesl-menu-bar-button-summary {
        display: inline-block; }
      .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-menu-bar-button .jeesl-menu-bar-button-selected-items {
        display: none; }
  .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item {
    height: 84px; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item.jeesl-menu-bar-search {
      display: flex;
      flex-grow: 1; }
      .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item.jeesl-menu-bar-search .ui-inputgroup {
        display: flex;
        flex-grow: 1; }
        .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item.jeesl-menu-bar-search .ui-inputgroup .ui-inputfield {
          flex-grow: 1; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-menu-bar-button.jeesl-active:after {
      opacity: 1; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-menu-bar-button.jeesl-menu-bar-popup-button {
      z-index: 1001 !important; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-menu-bar-button .jeesl-menu-bar-button-label {
      font-size: 1.1rem;
      height: 100%;
      min-width: 84px;
      text-align: center; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list {
      height: 0;
      opacity: 1;
      overflow: hidden;
      transition: opacity 0s .4s, height .4s ease-in-out, visibility 0s .4s;
      visibility: visible;
      width: 100%;
      z-index: 2000; }
      .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list:before, .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list:after {
        content: '';
        display: list-item;
        height: 15px;
        width: 100%; }
      .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item {
        display: list-item;
        opacity: 0;
        padding: 0 15px;
        transition: opacity 0s .4s;
        width: 100%; }
        .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label {
          border-bottom-width: 2px;
          display: flex;
          height: 84px;
          line-height: 84px;
          margin: 0;
          padding: 0 10px;
          text-align: left;
          width: 100%; }
          .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label .jeesl-dropdown-item-label-icon {
            margin: 0;
            padding: 9px; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list.jeesl-dropdown-list-multi .jeesl-dropdown-item:first-child {
      border-top-width: 2px; }
      .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list.jeesl-dropdown-list-multi .jeesl-dropdown-item:first-child:before {
        visibility: visible; }
      .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list.jeesl-dropdown-list-multi .jeesl-dropdown-item:first-child .jeesl-dropdown-item-label {
        padding: 0; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list.jeesl-dropdown-list-multi .jeesl-dropdown-item .jeesl-dropdown-item-label {
      padding-right: 0; }
      .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list.jeesl-dropdown-list-multi .jeesl-dropdown-item .jeesl-dropdown-item-label .jeesl-dropdown-item-label-icon {
        padding: 12px 0; }
        .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list.jeesl-dropdown-list-multi .jeesl-dropdown-item .jeesl-dropdown-item-label .jeesl-dropdown-item-label-icon:last-child {
          padding: 12px; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label {
      font-size: 1.1em;
      font-weight: 700;
      letter-spacing: normal; }
      .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label .jeesl-dropdown-item-label-icon {
        padding: 12px 0; }
        .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label .jeesl-dropdown-item-label-icon:not(:first-child) {
          margin-left: 12px; }
        .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item .jeesl-dropdown-item-label .jeesl-dropdown-item-label-icon:not(:last-child) {
          margin-right: 12px; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item.jeesl-dropdown-multiline-item .jeesl-dropdown-item-title {
      font-size: 1.2em;
      line-height: 19px;
      height: 19px; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-dropdown-list .jeesl-dropdown-item.jeesl-dropdown-multiline-item .jeesl-dropdown-item-content {
      font-size: 1.2em;
      line-height: 19px;
      height: 19px; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .ui-inputgroup {
      padding: 5px;
      pointer-events: all; }
      .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .ui-inputgroup + .jeesl-overlay-container {
        margin: -2px 0 0;
        position: absolute; }
      .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .ui-inputgroup .ui-inputfield {
        min-width: 106px; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container {
      border: none;
      border-radius: 0;
      left: 0 !important;
      width: 100% !important;
      pointer-events: all;
      top: 100%; }
      .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list {
        padding: 15px 0;
        overflow: hidden; }
        .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list:before {
          border-bottom: 2px solid #c4c4c4;
          content: '';
          display: block;
          width: calc(100% - (2 * 15px));
          margin: 0 15px; }
        .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list .ui-selectonemenu-item {
          border-radius: 0;
          font-size: 1.2em;
          font-weight: 700;
          height: 50px;
          line-height: calc(50px - 2px);
          margin: 0;
          padding: 0 15px;
          text-shadow: none; }
          .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list .ui-selectonemenu-item:after {
            border-bottom: 2px solid #ededed;
            content: '';
            display: block; }
          .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list .ui-selectonemenu-item.ui-state-hover:not(.ui-state-highlight), .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list .ui-selectonemenu-item:hover:not(.ui-state-highlight) {
            background: none; }
          .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list .ui-selectonemenu-item.ui-state-highlight:after {
            border-color: rgba(255, 255, 255, 0); }
        .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list .ui-selectonemenu-item {
          height: auto; }
          .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list .ui-selectonemenu-item.jeesl-active .ui-selectonemenu-item-text {
            background: repeating-linear-gradient(to bottom, #00663a, #007a45 84px); }
          .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list .ui-selectonemenu-item:after {
            margin: 0; }
          .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list .ui-selectonemenu-item .ui-selectonemenu-item-text {
            font-weight: 700;
            font-size: 1.2em;
            height: 84px;
            line-height: 84px; }
          .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list .ui-selectonemenu-item .jeesl-field-tip {
            font-size: 22px;
            height: 0;
            margin-top: 0;
            overflow: hidden;
            position: relative;
            transition: height .2s linear;
            width: 100%; }
            .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list .ui-selectonemenu-item .jeesl-field-tip .jeesl-field-tip-content {
              border: none;
              border-radius: 0;
              left: 0 !important;
              width: 100% !important;
              box-shadow: none;
              padding: 0 15px;
              position: relative;
              opacity: 1;
              top: 0; }
              .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-item .jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list .ui-selectonemenu-item .jeesl-field-tip .jeesl-field-tip-content .jeesl-grid {
                margin: 0;
                padding-bottom: 5px; }
  .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-calendar-item .jeesl-menu-bar-calendar-item-list .jeesl-calendar-icon {
    height: 84px; }
    .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-calendar-item .jeesl-menu-bar-calendar-item-list .jeesl-calendar-icon > img {
      margin: 0 -5px; }
  .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-calendar-item .jeesl-menu-bar-calendar-item-list .jeesl-menu-bar-item:first-child .jeesl-menu-bar-button-label {
    padding-right: 0; }
  .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-calendar-item .jeesl-menu-bar-calendar-item-list .jeesl-menu-bar-item:last-child .jeesl-menu-bar-button-label {
    padding-left: 0; }
  .jeesl-status-bar .jeesl-menu-bar-list .jeesl-menu-bar-calendar-item .jeesl-menu-bar-calendar-item-list .jeesl-menu-bar-item .jeesl-menu-bar-button .ui-inputfield {
    height: 100%;
    letter-spacing: -.5px;
    width: 135px; }

.jeesl-panel {
  padding: 0; }
  .jeesl-panel .ui-texteditor {
    margin-left: -15px;
    margin-right: -15px; }
    .jeesl-panel .ui-texteditor:first-child {
      margin-top: -10px; }
    .jeesl-panel .ui-texteditor:last-child {
      margin-bottom: -10px; }
    .jeesl-panel .ui-texteditor .ql-toolbar {
      padding: 0; }
      .jeesl-panel .ui-texteditor .ql-toolbar button {
        height: 84px;
        padding: 15px;
        width: 84px; }
    .jeesl-panel .ui-texteditor .ql-container {
      font-size: 1em; }
      .jeesl-panel .ui-texteditor .ql-container .ql-editor {
        min-height: 84px; }
  .jeesl-panel .ui-panel-titlebar {
    border-radius: 3px 3px 0 0;
    border-width: 0;
    margin: 0 0 4px 0;
    min-height: 84px; }
    .jeesl-panel .ui-panel-titlebar:after {
      display: block; }
    .jeesl-panel .ui-panel-titlebar .ui-panel-title {
      font-size: 1.4em;
      letter-spacing: -.5px; }
    .jeesl-panel .ui-panel-titlebar .ui-panel-actions .pf-action-icon, .jeesl-panel .ui-panel-titlebar .ui-panel-actions .jeesl-action-icon {
      padding: 6px 0; }
      .jeesl-panel .ui-panel-titlebar .ui-panel-actions .pf-action-icon:before, .jeesl-panel .ui-panel-titlebar .ui-panel-actions .jeesl-action-icon:before {
        border-left: 1px solid #a8a8a8; }
      .jeesl-panel .ui-panel-titlebar .ui-panel-actions .pf-action-icon img, .jeesl-panel .ui-panel-titlebar .ui-panel-actions .jeesl-action-icon img {
        height: calc(84px - 2 * 6px);
        padding: 0 6px; }
  .jeesl-panel .ui-panelgrid:last-child .ui-panelgrid-cell .ui-datatable {
    margin-bottom: -5px; }
  .jeesl-panel .ui-panelgrid .ui.panelgrid-cell .ui-datatable {
    margin: 0 -10px;
    width: calc(100% + (2 * 10px)); }
  .jeesl-panel .ui-panelgrid .ui-datatable .ui-datatable-header {
    border-radius: 3px 3px 0 0;
    border-width: 0;
    margin: 0 0 4px 0;
    min-height: 84px; }
    .jeesl-panel .ui-panelgrid .ui-datatable .ui-datatable-header:after {
      display: block; }
    .jeesl-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-title {
      font-size: 1.4em;
      letter-spacing: -.5px; }
    .jeesl-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-actions .pf-action-icon, .jeesl-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-actions .jeesl-action-icon {
      padding: 6px 0; }
      .jeesl-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-actions .pf-action-icon:before, .jeesl-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-actions .jeesl-action-icon:before {
        border-left: 1px solid #a8a8a8; }
      .jeesl-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-actions .pf-action-icon img, .jeesl-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-actions .jeesl-action-icon img {
        height: calc(84px - 2 * 6px);
        padding: 0 6px; }
  .jeesl-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-title {
    font-size: 1.2em; }
  .jeesl-panel .ui-tree .ui-treenode .ui-treenode-content {
    border-bottom: 2px solid #c4c4c4;
    height: 84px; }
    @media (max-width: 768px) {
      .jeesl-panel .ui-tree .ui-treenode .ui-treenode-content {
        font-size: 1.1em; } }
    .jeesl-panel .ui-tree .ui-treenode .ui-treenode-content.ui-droppable {
      height: 46px;
      line-height: 42px; }
    .jeesl-panel .ui-tree .ui-treenode .ui-treenode-content .ui-treenode-leaf-icon {
      display: none; }
      .jeesl-panel .ui-tree .ui-treenode .ui-treenode-content .ui-treenode-leaf-icon ~ .ui-treenode-label {
        padding-left: 43px; }
    .jeesl-panel .ui-tree .ui-treenode .ui-treenode-content .ui-tree-toggler {
      min-width: 30px; }
      .jeesl-panel .ui-tree .ui-treenode .ui-treenode-content .ui-tree-toggler:after {
        border-width: 8px 0 8px 8px; }
  .jeesl-panel .jeesl-tabs {
    border-top: 1px solid #ababab;
    margin: 5px -15px; }
    .jeesl-panel .jeesl-tabs:last-child {
      margin-bottom: -10px; }
  .jeesl-panel .ui-panel-content .ui-fluid .p-grid {
    display: block;
    padding: 0; }
    .jeesl-panel .ui-panel-content .ui-fluid .p-grid .p-col.ui-outputlabel {
      left: 50%;
      line-height: normal;
      padding: 0;
      position: absolute;
      top: 0;
      transform: translate(-50%, 0);
      width: auto;
      z-index: 1; }
      .jeesl-panel .ui-panel-content .ui-fluid .p-grid .p-col.ui-outputlabel:first-child {
        left: 15px;
        transform: none; }
      .jeesl-panel .ui-panel-content .ui-fluid .p-grid .p-col.ui-outputlabel:last-child {
        left: auto;
        right: 15px;
        transform: none; }
    .jeesl-panel .ui-panel-content .ui-fluid .p-grid .p-col:not(.ui-outputlabel) {
      line-height: normal;
      padding: 0.5em 0 2px 0;
      width: 100% !important; }
      .jeesl-panel .ui-panel-content .ui-fluid .p-grid .p-col:not(.ui-outputlabel) > * {
        padding: 0 10px;
        width: 100%; }
        .jeesl-panel .ui-panel-content .ui-fluid .p-grid .p-col:not(.ui-outputlabel) > * > .ui-inputfield {
          padding-left: 10px; }
      .jeesl-panel .ui-panel-content .ui-fluid .p-grid .p-col:not(.ui-outputlabel) > span {
        align-items: center;
        background: #dedede;
        display: flex; }
  .jeesl-panel .ui-panel-content .ui-galleria {
    margin: -5px -15px -10px;
    max-width: calc(100% + (2 * 15px));
    width: calc(100% + (2 * 15px)) !important; }
  .jeesl-panel .ui-panel-content .ui-separator {
    background: #dedede;
    height: 2px;
    margin: 6px -10px; }
  .jeesl-panel .ui-panel-footer {
    margin: 5px 0 0;
    border-width: 4px 0 0; }

.ui-datatable .ui-datatable-header {
  border-radius: 3px 3px 0 0;
  border-width: 0;
  margin: 0 0 4px 0;
  min-height: 84px; }
  .ui-datatable .ui-datatable-header:after {
    display: block; }
  .ui-datatable .ui-datatable-header .pf-datatable-header-title {
    font-size: 1.4em;
    letter-spacing: -.5px; }
  .ui-datatable .ui-datatable-header .pf-datatable-header-actions .pf-action-icon, .ui-datatable .ui-datatable-header .pf-datatable-header-actions .jeesl-action-icon {
    padding: 6px 0; }
    .ui-datatable .ui-datatable-header .pf-datatable-header-actions .pf-action-icon:before, .ui-datatable .ui-datatable-header .pf-datatable-header-actions .jeesl-action-icon:before {
      border-left: 1px solid #a8a8a8; }
    .ui-datatable .ui-datatable-header .pf-datatable-header-actions .pf-action-icon img, .ui-datatable .ui-datatable-header .pf-datatable-header-actions .jeesl-action-icon img {
      height: calc(84px - 2 * 6px);
      padding: 0 6px; }
.ui-datatable table thead th, .ui-datatable table tbody tr {
  height: 84px; }
.ui-datatable .ui-datatable-header {
  border-width: 1px 1px 0; }

.jeesl-content .jeesl-content-container .jeesl-grid-1 {
  width: calc(100% - 10px); }
.jeesl-content .jeesl-content-container .jeesl-grid-2 {
  width: calc(100% - 10px); }
.jeesl-content .jeesl-content-container .jeesl-grid-3 {
  width: calc(100% - 10px); }
.jeesl-content .jeesl-content-container .jeesl-grid-4 {
  width: calc(100% - 10px); }
.jeesl-content .jeesl-content-container .jeesl-grid-5 {
  width: calc(100% - 10px); }
.jeesl-content .jeesl-content-container .jeesl-grid-6 {
  width: calc(100% - 10px); }
.jeesl-content .jeesl-content-container .jeesl-grid-7 {
  width: calc(100% - 10px); }
.jeesl-content .jeesl-content-container .jeesl-grid-8 {
  width: calc(100% - 10px); }
.jeesl-content .jeesl-content-container .jeesl-grid-9 {
  width: calc(100% - 10px); }
.jeesl-content .jeesl-content-container .jeesl-grid-10 {
  width: calc(100% - 10px); }
.jeesl-content .jeesl-content-container .jeesl-grid-11 {
  width: calc(100% - 10px); }
.jeesl-content .jeesl-content-container .jeesl-grid-12 {
  width: calc(100% - 10px); }
.jeesl-content .jeesl-content-container .ui-panel {
  padding: 0; }
  .jeesl-content .jeesl-content-container .ui-panel .ui-texteditor {
    margin-left: -15px;
    margin-right: -15px; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-texteditor:first-child {
      margin-top: -10px; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-texteditor:last-child {
      margin-bottom: -10px; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-texteditor .ql-toolbar {
      padding: 0; }
      .jeesl-content .jeesl-content-container .ui-panel .ui-texteditor .ql-toolbar button {
        height: 84px;
        padding: 15px;
        width: 84px; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-texteditor .ql-container {
      font-size: 1em; }
      .jeesl-content .jeesl-content-container .ui-panel .ui-texteditor .ql-container .ql-editor {
        min-height: 84px; }
  .jeesl-content .jeesl-content-container .ui-panel .ui-panel-titlebar {
    border-radius: 3px 3px 0 0;
    border-width: 0;
    margin: 0 0 4px 0;
    min-height: 84px; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-panel-titlebar:after {
      display: block; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-panel-titlebar .ui-panel-title {
      font-size: 1.4em;
      letter-spacing: -.5px; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-panel-titlebar .ui-panel-actions .pf-action-icon, .jeesl-content .jeesl-content-container .ui-panel .ui-panel-titlebar .ui-panel-actions .jeesl-action-icon {
      padding: 6px 0; }
      .jeesl-content .jeesl-content-container .ui-panel .ui-panel-titlebar .ui-panel-actions .pf-action-icon:before, .jeesl-content .jeesl-content-container .ui-panel .ui-panel-titlebar .ui-panel-actions .jeesl-action-icon:before {
        border-left: 1px solid #a8a8a8; }
      .jeesl-content .jeesl-content-container .ui-panel .ui-panel-titlebar .ui-panel-actions .pf-action-icon img, .jeesl-content .jeesl-content-container .ui-panel .ui-panel-titlebar .ui-panel-actions .jeesl-action-icon img {
        height: calc(84px - 2 * 6px);
        padding: 0 6px; }
  .jeesl-content .jeesl-content-container .ui-panel .ui-panelgrid:last-child .ui-panelgrid-cell .ui-datatable {
    margin-bottom: -5px; }
  .jeesl-content .jeesl-content-container .ui-panel .ui-panelgrid .ui.panelgrid-cell .ui-datatable {
    margin: 0 -10px;
    width: calc(100% + (2 * 10px)); }
  .jeesl-content .jeesl-content-container .ui-panel .ui-panelgrid .ui-datatable .ui-datatable-header {
    border-radius: 3px 3px 0 0;
    border-width: 0;
    margin: 0 0 4px 0;
    min-height: 84px; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-panelgrid .ui-datatable .ui-datatable-header:after {
      display: block; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-title {
      font-size: 1.4em;
      letter-spacing: -.5px; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-actions .pf-action-icon, .jeesl-content .jeesl-content-container .ui-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-actions .jeesl-action-icon {
      padding: 6px 0; }
      .jeesl-content .jeesl-content-container .ui-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-actions .pf-action-icon:before, .jeesl-content .jeesl-content-container .ui-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-actions .jeesl-action-icon:before {
        border-left: 1px solid #a8a8a8; }
      .jeesl-content .jeesl-content-container .ui-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-actions .pf-action-icon img, .jeesl-content .jeesl-content-container .ui-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-actions .jeesl-action-icon img {
        height: calc(84px - 2 * 6px);
        padding: 0 6px; }
  .jeesl-content .jeesl-content-container .ui-panel .ui-panelgrid .ui-datatable .ui-datatable-header .pf-datatable-header-title {
    font-size: 1.2em; }
  .jeesl-content .jeesl-content-container .ui-panel .ui-tree .ui-treenode .ui-treenode-content {
    border-bottom: 2px solid #c4c4c4;
    height: 84px; }
    @media (max-width: 768px) {
      .jeesl-content .jeesl-content-container .ui-panel .ui-tree .ui-treenode .ui-treenode-content {
        font-size: 1.1em; } }
    .jeesl-content .jeesl-content-container .ui-panel .ui-tree .ui-treenode .ui-treenode-content.ui-droppable {
      height: 46px;
      line-height: 42px; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-tree .ui-treenode .ui-treenode-content .ui-treenode-leaf-icon {
      display: none; }
      .jeesl-content .jeesl-content-container .ui-panel .ui-tree .ui-treenode .ui-treenode-content .ui-treenode-leaf-icon ~ .ui-treenode-label {
        padding-left: 43px; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-tree .ui-treenode .ui-treenode-content .ui-tree-toggler {
      min-width: 30px; }
      .jeesl-content .jeesl-content-container .ui-panel .ui-tree .ui-treenode .ui-treenode-content .ui-tree-toggler:after {
        border-width: 8px 0 8px 8px; }
  .jeesl-content .jeesl-content-container .ui-panel .jeesl-tabs {
    border-top: 1px solid #ababab;
    margin: 5px -15px; }
    .jeesl-content .jeesl-content-container .ui-panel .jeesl-tabs:last-child {
      margin-bottom: -10px; }
  .jeesl-content .jeesl-content-container .ui-panel .ui-panel-content .ui-fluid .p-grid {
    display: block;
    padding: 0; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-panel-content .ui-fluid .p-grid .p-col.ui-outputlabel {
      left: 50%;
      line-height: normal;
      padding: 0;
      position: absolute;
      top: 0;
      transform: translate(-50%, 0);
      width: auto;
      z-index: 1; }
      .jeesl-content .jeesl-content-container .ui-panel .ui-panel-content .ui-fluid .p-grid .p-col.ui-outputlabel:first-child {
        left: 15px;
        transform: none; }
      .jeesl-content .jeesl-content-container .ui-panel .ui-panel-content .ui-fluid .p-grid .p-col.ui-outputlabel:last-child {
        left: auto;
        right: 15px;
        transform: none; }
    .jeesl-content .jeesl-content-container .ui-panel .ui-panel-content .ui-fluid .p-grid .p-col:not(.ui-outputlabel) {
      line-height: normal;
      padding: 0.5em 0 2px 0;
      width: 100% !important; }
      .jeesl-content .jeesl-content-container .ui-panel .ui-panel-content .ui-fluid .p-grid .p-col:not(.ui-outputlabel) > * {
        padding: 0 10px;
        width: 100%; }
        .jeesl-content .jeesl-content-container .ui-panel .ui-panel-content .ui-fluid .p-grid .p-col:not(.ui-outputlabel) > * > .ui-inputfield {
          padding-left: 10px; }
      .jeesl-content .jeesl-content-container .ui-panel .ui-panel-content .ui-fluid .p-grid .p-col:not(.ui-outputlabel) > span {
        align-items: center;
        background: #dedede;
        display: flex; }
  .jeesl-content .jeesl-content-container .ui-panel .ui-panel-content .ui-galleria {
    margin: -5px -15px -10px;
    max-width: calc(100% + (2 * 15px));
    width: calc(100% + (2 * 15px)) !important; }
  .jeesl-content .jeesl-content-container .ui-panel .ui-panel-content .ui-separator {
    background: #dedede;
    height: 2px;
    margin: 6px -10px; }
  .jeesl-content .jeesl-content-container .ui-panel .ui-panel-footer {
    margin: 5px 0 0;
    border-width: 4px 0 0; }
.jeesl-content .jeesl-content-container .height-balance-container > .jeesl-grid {
  margin: 0;
  width: 100%; }

.jeesl-content-right {
  display: none; }

.ui-dialog .ui-dialog-titlebar {
  border-radius: 3px 3px 0 0;
  border-width: 0;
  margin: 0 0 4px 0;
  min-height: 84px;
  pointer-events: none; }
  .ui-dialog .ui-dialog-titlebar:after {
    display: block; }
  .ui-dialog .ui-dialog-titlebar > .ui-dialog-title .ui-dialog-title {
    font-size: 1.4em;
    letter-spacing: -.5px; }
  .ui-dialog .ui-dialog-titlebar > .ui-dialog-title .ui-dialog-titlebar-actions {
    pointer-events: all; }
    .ui-dialog .ui-dialog-titlebar > .ui-dialog-title .ui-dialog-titlebar-actions .pf-action-icon, .ui-dialog .ui-dialog-titlebar > .ui-dialog-title .ui-dialog-titlebar-actions .jeesl-action-icon {
      padding: 6px 0; }
      .ui-dialog .ui-dialog-titlebar > .ui-dialog-title .ui-dialog-titlebar-actions .pf-action-icon:before, .ui-dialog .ui-dialog-titlebar > .ui-dialog-title .ui-dialog-titlebar-actions .jeesl-action-icon:before {
        border-left: 1px solid #a8a8a8; }
      .ui-dialog .ui-dialog-titlebar > .ui-dialog-title .ui-dialog-titlebar-actions .pf-action-icon img, .ui-dialog .ui-dialog-titlebar > .ui-dialog-title .ui-dialog-titlebar-actions .jeesl-action-icon img {
        height: calc(84px - 2 * 6px);
        padding: 0 6px; }
.ui-dialog.jeesl-dialog-1 {
  left: 15px !important;
  transform: translate(0, -50%);
  width: calc(100% - 30px) !important; }
.ui-dialog.jeesl-dialog-2 {
  left: 15px !important;
  transform: translate(0, -50%);
  width: calc(100% - 30px) !important; }
.ui-dialog.jeesl-dialog-3 {
  left: 15px !important;
  transform: translate(0, -50%);
  width: calc(100% - 30px) !important; }
.ui-dialog.jeesl-dialog-4 {
  left: 15px !important;
  transform: translate(0, -50%);
  width: calc(100% - 30px) !important; }
.ui-dialog.jeesl-dialog-5 {
  left: 15px !important;
  transform: translate(0, -50%);
  width: calc(100% - 30px) !important; }
.ui-dialog.jeesl-dialog-6 {
  left: 15px !important;
  transform: translate(0, -50%);
  width: calc(100% - 30px) !important; }
.ui-dialog.jeesl-dialog-7 {
  left: 15px !important;
  transform: translate(0, -50%);
  width: calc(100% - 30px) !important; }
.ui-dialog.jeesl-dialog-8 {
  left: 15px !important;
  transform: translate(0, -50%);
  width: calc(100% - 30px) !important; }
.ui-dialog.jeesl-dialog-9 {
  left: 15px !important;
  transform: translate(0, -50%);
  width: calc(100% - 30px) !important; }
.ui-dialog.jeesl-dialog-10 {
  left: 15px !important;
  transform: translate(0, -50%);
  width: calc(100% - 30px) !important; }
.ui-dialog.jeesl-dialog-11 {
  left: 15px !important;
  transform: translate(0, -50%);
  width: calc(100% - 30px) !important; }
.ui-dialog.jeesl-dialog-12 {
  left: 15px !important;
  transform: translate(0, -50%);
  width: calc(100% - 30px) !important; }
.ui-dialog.jeesl-table-dialog .ui-dialog-titlebar {
  margin-bottom: 4px; }
.ui-dialog .ui-dialog-content {
  padding: 15px;
  margin: 0; }
  .ui-dialog .ui-dialog-content .ui-resizable-handle {
    display: none; }
  .ui-dialog .ui-dialog-content .html-container > div > section {
    padding: 0; }

.jeesl-tabs {
  padding: 0; }
  .jeesl-tabs.jeesl-editor .ui-tabs-panel .ui-texteditor {
    margin-left: -15px;
    margin-right: -15px; }
    .jeesl-tabs.jeesl-editor .ui-tabs-panel .ui-texteditor:first-child {
      margin-top: -10px; }
    .jeesl-tabs.jeesl-editor .ui-tabs-panel .ui-texteditor:last-child {
      margin-bottom: -10px; }
    .jeesl-tabs.jeesl-editor .ui-tabs-panel .ui-texteditor .ql-toolbar {
      padding: 0; }
      .jeesl-tabs.jeesl-editor .ui-tabs-panel .ui-texteditor .ql-toolbar button {
        height: 84px;
        padding: 15px;
        width: 84px; }
    .jeesl-tabs.jeesl-editor .ui-tabs-panel .ui-texteditor .ql-container {
      font-size: 1em; }
      .jeesl-tabs.jeesl-editor .ui-tabs-panel .ui-texteditor .ql-container .ql-editor {
        min-height: 84px; }
  .jeesl-tabs .ui-tabs-panel {
    padding: 10px 15px; }
  .jeesl-tabs .ui-tabs-nav {
    border: none;
    padding-top: 3px; }
    .jeesl-tabs .ui-tabs-nav .ui-tabs-header {
      border-radius: 3px 3px 0 0;
      border-width: 0;
      margin: 0 0 4px 0;
      min-height: 84px; }
      .jeesl-tabs .ui-tabs-nav .ui-tabs-header:after {
        display: block; }
      .jeesl-tabs .ui-tabs-nav .ui-tabs-header > a, .jeesl-tabs .ui-tabs-nav .ui-tabs-header > span {
        font-size: 1.4em;
        letter-spacing: -.5px; }
    .jeesl-tabs .ui-tabs-nav:after {
      display: block;
      margin-left: -3px;
      width: 100%; }
    .jeesl-tabs .ui-tabs-nav .ui-tabs-header {
      border-width: 1px;
      margin: 0 3px 0 0;
      top: 0 !important; }
      .jeesl-tabs .ui-tabs-nav .ui-tabs-header.ui-tabs-selected {
        border: 0;
        padding: 1px; }
        .jeesl-tabs .ui-tabs-nav .ui-tabs-header.ui-tabs-selected:before {
          content: ''; }
        .jeesl-tabs .ui-tabs-nav .ui-tabs-header.ui-tabs-selected a {
          color: white;
          text-shadow: none; }

.fc .fc-head {
  border-radius: 3px 3px 0 0;
  border-width: 0;
  margin: 0 0 4px 0;
  min-height: 84px; }
  .fc .fc-head:after {
    display: block; }
  .fc .fc-head .fc-day-header > span {
    font-size: 1.4em;
    letter-spacing: -.5px; }

.ui-panelgrid .ui-panelgrid-cell > * {
  min-height: 84px; }

.input-grid .p-field .p-col:not(.ui-outputlabel) > * {
  min-height: 84px; }

.html-container-panel .html-container {
  font-size: 1rem; }
  .html-container-panel .html-container > div > section h1:first-child {
    border-radius: 3px 3px 0 0;
    border-width: 0;
    margin: 0 0 4px 0;
    min-height: 84px;
    font-size: 1.4em;
    letter-spacing: -.5px;
    margin: -10px;
    margin-bottom: 10px; }
    .html-container-panel .html-container > div > section h1:first-child:after {
      display: block; }

.pf-action-icon img {
  height: 84px; }
