@mixin setColorTokens() {
	:root {
		/* Greys */
		--grey-light: #{$light-grey};
		
		--body-foreground: #{$anthracite};
		--body-emphasis-foreground: #{$foreground-grey};
		--body-alert-foreground: #{$foreground-alert};
		--highlight-foreground: #{$white-100};
		--highlight-background: #{$medium-colour};
		--highlight-background-light: #{color.adjust($medium-colour, $alpha: -.8)};
		--highlight-border-color: #{$dark-colour};
		--link-foreground: #{$link-colour};
		--link-foreground-hover: #{$link-hover-colour};
		
		/* MAIN NAV */
		--main-nav-foreground: var(--body-foreground);
		--main-nav-hover: var(--main-nav-highlight);
		--main-nav-highlight: #{$dark-colour};
		--main-nav-emphasis: var(--body-emphasis-foreground);
		--main-nav-underline: #{$bright-grey};
		--main-nav-icon: #{$dark-colour};
		--main-nav-dropdown-background: #{$white-100};
		--main-nav-dropdown-underline: {$bright-grey};
		
		/* MENU BAR */
		--menu-bar-background: #{$dark-colour};
		--menu-bar-foreground: var(--highlight-foreground);
		
		/* breadcrumbs */
		--breadcrumb-background-from: var(--menu-bar-background);
		--breadcrumb-background-to: #{$bright-colour};
		--breadcrumb-background: linear-gradient(to right, var(--breadcrumb-background-from), var(--breadcrumb-background-to));
		--breadcrumb-foreground: var(--highlight-foreground);
		--breadcrumb-border-color: #{$bright-colour};
		
		/* dropdown */
		--breadcrumb-dropdown-background: var(--breadcrumb-background);
		--breadcrumb-dropdown-foreground: var(--highlight-foreground);
		--breadcrumb-dropdown-hover-background: var(--breadcrumb-background-from);
		--breadcrumb-dropdown-separator: #{$dark-colour};
		
		/* STATUS BAR */
		--statusbar-background-from: var(--menu-bar-background);
		--statusbar-background-to: #{$medium-colour};
		--statusbar-background: linear-gradient(to bottom, var(--statusbar-background-from), var(--statusbar-background-to));
		
		/* menu item */
		--statusbar-item-background: #{$medium-colour};
		--statusbar-item-foreground: var(--highlight-foreground);
		--statusbar-item-separator: #{$bright-colour};
		--statusbar-item-hover-background: var(--statusbar-background-from);
		--statusbar-item-highlight-background: #{$brighter-colour};
		--statusbar-item-highlight-hover-background: #{$bright-colour};
		--statusbar-help-border-color: var(--statusbar-item-separator);
		
		/* dropdown */
		--statusbar-item-dropdown-background: #{$medium-colour};
		--statusbar-item-dropdown-foreground: var(--highlight-foreground);
		--statusbar-item-dropdown-hover-background: #{$dark-colour};
		--statusbar-item-dropdown-separator: #{$dark-colour};
		--statusbar-search-border-color: #{$bright-colour};
		--statusbar-search-placeholder-foreground: #{$brighter-colour};
		--statusbar-search-button-foreground: #{$brighter-colour};
		--statusbar-search-button-hover-background: #{$brighter-colour};
		--statusbar-search-button-hover-foreground: #{$white-100};
		--statusbar-search-dropdown-fieldtip-foreground: #{$brighter-colour};
		--statusbar-search-dropdown-fieldtip-hover-foreground: #{$brighter-colour};
		--statusbar-search-dropdown-highlight-background-from: #{$dark-colour};
		--statusbar-search-dropdown-highlight-background-to: #{$medium-colour};
		
		/* SIDENAV */
		--sidenav-item-background: var(--breadcrumb-dropdown-background);
		--sidenav-item-foreground: var(--breadcrumb-dropdown-foreground);
		--sidenav-item-hover-background: var(--breadcrumb-dropdown-highlight-background);
		
		/* FOOTER */
		--footer-foreground: var(--body-foreground);
		--footer-background: ${color.adjust($medium-grey, $alpha: -.8)};
		--footer-item-hover-background: var(--statusbar-item-hover-background);
		--footer-item-hover-highlight-background: var(--statusbar-item-highlight-hover-background);
		
		/* dropdown */
		--footer-item-dropdown-background: var(--statusbar-item-dropdown-background);
		--footer-item-dropdown-foreground: var(--statusbar-item-dropdown-foreground);
		--footer-item-dropdown-hover-background: var(--statusbar-item-dropdown-hover-background);
		--footer-item-dropdown-separator: var(--statusbar-item-dropdown-separator);
		
		/* MAIN CONTENT */
		--main-background: var(--grey-light);
		--main-content-background: #{$white-100};
		
		/* CONTAINER */
		--container-border-color: #{$medium-grey};
		
		/* header */
		--container-header-background-color: #{$soft-grey};
		--container-header-background: var(--container-header-background-color) linear-gradient(to bottom, #{$white-80}, #{$white-0});
		--container-header-foreground: var(--body-foreground);
		--container-header-underline-color: #{$dark-colour};
		--container-header-action-button-hover-background: #{$soft-grey};
		--container-header-action-button-highlight-background: #{$soft-grey};
		--container-header-action-button-dropdown-background: var(--grey-light);
		--container-header-action-button-dropdown-hover-background: #{$soft-grey};
		--container-header-action-button-dropdown-separator-color: var(--grey-light);
		--container-header-action-button-dropdown-table-border: #{$dark-colour};
		--tabview-header-tab-background: linear-gradient(to bottom, var(--grey-light) 87%, #{$soft-grey} 100%);
		--tabview-header-tab-foreground: var(--container-header-foreground);
	//	--tabview-header-tab-background: #{$soft-grey};
		--tabview-header-tab-highlight-background: linear-gradient(to bottom, #{$medium-colour}, #{$dark-colour});
		--tabview-header-tab-highlight-foreground: var(--highlight-foreground);
		
		/* content */
		--container-content-background: #{$bright-grey};
		--container-content-foreground: var(--body-foreground);
		--container-content-separator: #{$bright-grey};
		--datatable-content-odd-row-background: #{$white-50};
		--datatable-content-border-color: var(--grey-light);
		--datatable-content-hover-background: var(--grey-light);
		--datatable-content-highlight-background: var(--highlight-background);
		--datatable-content-highlight-background-light: var(--highlight-background-light);
		--datatable-content-highlight-foreground: var(--highlight-foreground);
		--datatable-content-highlight-border-color: var(--highlight-border-color);
		--datatable-content-focus-cell-edit-border-color: var(--datatable-content-highlight-background);
		
		/* footer */
		--container-footer-foreground: #{$dark-colour};
		
		/* link */
		--panel-link-foreground: #{$dark-colour};
		--panel-link-hover-foreground: #{$bright-colour};
		
		/* input */
		--panel-content-input-background: #{$white-100};
		--panel-content-input-foreground: var(--body-foreground);
		
		/* output */
		--panel-content-output-background: transparent;
		
		/* dropdown */
		--panel-content-select-dropdown-header-background: linear-gradient(to bottom, #{$dark-colour}, #{$medium-colour});
		--panel-content-select-dropdown-header-button-hover-background: #{$dark-colour};
		--panel-content-select-dropdown-header-foreground: var(--highlight-foreground);
		--panel-content-select-dropdown-background: #{$white-100};
		--panel-content-select-dropdown-foreground: #{var(--body-foreground)};
		--panel-content-select-dropdown-hover-background: var(--grey-light);
		--panel-content-select-dropdown-hover-foreground: #{$dark-colour};
		--panel-content-select-dropdown-highlight-background: var(--highlight-background);
		--panel-content-select-dropdown-highlight-foreground: var(--highlight-foreground);
		--panel-content-select-dropdown-separator-color: var(--container-content-separator);
		--panel-content-select-chips-foreground: var(--highlight-foreground);
		--panel-content-select-chips-icon-background: linear-gradient(to right, transparent, #{$dark-colour} 50%) 12500% 0/99% 100% no-repeat;
		--panel-content-select-chips-icon-hover-background: linear-gradient(to right, transparent, #{$dark-colour} 50%) 0 0/100% 99% no-repeat;
		--panel-content-datepicker-highlight-background: #{$bright-grey};
		--panel-content-datepicker-highlight-foreground: #{$dark-colour};
		--panel-content-datepicker-separator-color: var(--container-content-separator);
		--panel-content-datepicker-summary-background: var(--container-content-background);
		
		/* button */
		--panel-content-button-background: #{$soft-grey} linear-gradient(to bottom, #{$white-80}, #{$white-0});
		--panel-content-button-foreground: var(--body-foreground);
		--panel-content-button-disabled-background: linear-gradient(to bottom, #{$bright-grey}, var(--grey-light));
		--panel-content-button-disabled-foreground: #{$soft-grey};
		--panel-content-button-hover-background: var(--grey-light);
		--panel-content-button-highlight-background: var(--highlight-background);
		--panel-content-button-highlight-foreground: var(--highlight-foreground);
		--panel-content-button-highlight-border-color: var(--highlight-border-color);
		
		/* icon */
		--panel-content-chat-avatar-background: #{$dark-colour};
		--panel-content-chat-avatar-foreground: var(--highlight-foreground);
		
		/* progress bar */
		--panel-content-progress-bar-background: var(--panel-content-input-background);
		--panel-content-progress-bar-progress-background: #{$bright-colour};
	
		/* slider */
		--panel-content-slider-track-background: linear-gradient(to bottom, #{$dark-colour}, #{$bright-colour});
		
		/* tree */
		--tree-droppoint-hover-foreground: var(--body-foreground);
		--tree-droppoint-hover-background: #{$soft-grey};
		--tree-droppoint-separator: #{$soft-grey};
		--tree-droppoint-highlight-background: #{$medium-colour};
		--tree-droppoint-highlight-hover-background: #{$medium-colour};
		--tree-droppoint-highlight-hover-foreground: var(--highlight-foreground);
		
		/* galleria */
		--galleria-controls-background-from: #{$bright-grey};
		--galleria-controls-background-to: color.scale(#{$bright-grey}, $alpha: -40%);
		
		/* MISC */
		
		/* heatmap */
		--heatmap-entry-color: #{$dark-colour};
		
		/* calendar */
		--calendar-today-background: #{$bright-colour};
		--calendar-event-background: linear-gradient(to bottom, #{$dark-colour}, #{$medium-colour});
		--calendar-internal-border-color: #{$soft-grey};
		
		/* messages */
		--messages-foreground: #{$white-100};
		
		@media (max-width: 768px) {
			--panel-content-output-background: var(--grey-light);
		}
	}
}

@include setColorTokens();