@use 'sass:map';

$white-0: hsla(0,0%,100%,0);
$white-35: hsla(0,0%,100%,.35);
$white-50: hsla(0,0%,100%,.5);
$white-70: hsla(0,0%,100%,.7);
$white-80: hsla(0,0%,100%,.8);
$white-100: hsla(0,0%,100%,1);

$black-40: hsla(0,0%,0%,.4);
$black-80: hsla(0,0%,0%,.8);

$bright-grey: hsl(0,0%,93%);
$light-grey: hsl(0,0%,87%);
$soft-grey: hsl(0,0%,77%);
$medium-grey: hsl(0,0%,67%);
$dark-grey: hsl(0,0%,33%);
$anthracite: hsl(0,0%,20%);
$black: $anthracite;
$brighter-colour: hsla(154,100%,33%,1);
$bright-colour: hsla(154,100%,27%,1);
$medium-colour: hsla(154,100%,24%,1);
$dark-colour: hsla(154,100%,20%,1);
$darker-colour: hsla(154,100%,18%,1);

$brewer-set28-colours: (1: hsla(161,43%,58%,1),
						2: hsla(17,96%,69%,1),
						3: hsla(222,37%,67%,1),
						4: hsla(323,66%,72%,1),
						5: hsla(83,63%,59%,1),
						6: hsla(49,100%,59%,1),
						7: hsla(36,61%,74%,1),
						8: hsla(0,0%,70%,1));

$body-foreground: $anthracite;
$body-background: $light-grey;

$link-colour: $dark-colour;
$link-hover-colour: $bright-colour;

$table-caption-colour: $medium-grey;

$foreground-alert: hsla(344,100%,42%,1);
$foreground-grey: $medium-grey;

$border-colour: $medium-grey;
$editor-background: $white-100;
$error-background: hsla(1,83%,63%,1);
$error-foreground: hsla(0,100%,50%,1);
$foreground: $anthracite;
$panel-background: $bright-grey;
$header-background-colour: $soft-grey;

$main-background-gradient: linear-gradient(to right, $dark-colour, $bright-colour);
$breadcrumb-background-gradient: linear-gradient(to right, $white-0, $bright-colour);
$status-bar-background-gradient: linear-gradient(to bottom, $dark-colour, $medium-colour);

$panel-header-gradient: $soft-grey linear-gradient(to bottom, $white-80, $white-0);

$overlay-shadow: 0 3px 3px $black-40;
$highlight-shadow: 0 -1px inset $white-80;
$text-shadow: 0 1px 0 $white-70;

$highlight-colour: $medium-colour;
$highlight-border-colour: $dark-colour;

$overlay-box-shadow: 0 5px 10px $black-80;

$colour-spectrum: linear-gradient(to bottom, #ff0000 0%, #ff00ff calc(100%/6), #0000ff calc(200%/6), #00ffff calc(300%/6), #00ff00 calc(400%/6), #ffff00 calc(500%/6), #ff0000 100%);

$header-shadow: 0 -1px 0 inset $white-35;
$header-underline: 2px solid $dark-colour;

@mixin simplifyHeader() {
	$header-shadow: none;
	$header-underline: $border-width solid $border-colour;
}


@mixin setColours($brighter, $bright, $medium, $dark, $darker) {
	$brighter-colour: $brighter !global;
	$bright-colour: $bright !global;
	$medium-colour: $medium !global;
	$dark-colour: $dark !global;
	$darker-colour: $darker !global;

	$link-colour: $dark-colour !global;
	$link-hover-colour: $bright-colour !global;

	$main-background-gradient: linear-gradient(to right, $dark-colour, $bright-colour) !global;
	$breadcrumb-background-gradient: linear-gradient(to right, $white-0, $bright-colour) !global;
	$status-bar-background-gradient: linear-gradient(to bottom, $dark-colour, $medium-colour) !global;
	
	$highlight-colour: $medium-colour !global;
	$header-underline: 2px solid $dark-colour !global;
}

@mixin setHighlightColour($highlight) {
	$highlight-colour: $highlight !global;
}

@for $i from 1 through 8 {
	.jeesl-brewer-#{$i} {
		background: map-get($brewer-set28-colours, $i);
	}
}