$font-family-base: "Arial", Verdana, Helvetica, sans-serif;
$font-family-monospace: monospace;
$font-size-base: 11px;
$font-weight-base: 400;
$line-height-base: 22px;

$font-size: 11px;
$font-size-mobile: 13px;

$font-size-breadcrumb: 1.4rem;
$font-size-interactable: 1.1em;
$font-size-header: 1.4em;
$font-size-nav: 1.1em;
$font-size-status: 1.1rem;
$font-size-ls-mobile: 1.2em;

$font-weight-bold: 700;

$dt-font-weight: $font-weight-base;
$table-th-font-weight: $font-weight-base;

$link-decoration: none;
$link-hover-decoration: underline;

$icon-calendar: '\f073';
$icon-cancel: '\f05e';
$icon-check: '\f00c';
$icon-close: '\f00d';
$icon-pencil: '\f304';
$icon-plus: '\f067';
$icon-search: '\f002';
$icon-return: '\f3be';
$icon-sort: '\f0dc';

$icon-up: '\f0d8';
$icon-down: '\f0d7';
$icon-previous: '\25c4';
$icon-next: '\25ba';

$icon-start: '\f049';
$icon-backward: '\f04a';
$icon-forward: '\f04e';
$icon-end: '\f050';

$icon-all-arrows: '\f0b2';
$icon-loading: '\f110';

@mixin font-regular {
	font-size: 1rem;
	font-weight: normal;
	letter-spacing: normal;
	text-align: left;
}

@mixin font-breadcrumb {
	font-size: $font-size-breadcrumb;
	font-weight: $font-weight-bold;
	letter-spacing: -1px;
	white-space: nowrap;
}

@mixin font-dropdown {
	color: $header-foreground;
		
	@media (max-width: 768px) {
		font-size: $font-size-interactable;
		font-weight: $font-weight-bold;
		letter-spacing: normal;
	}
}

@mixin font-header {
	font-weight: $font-weight-bold;
	
	@media (max-width: 768px) {
		font-size: $font-size-header;
		letter-spacing: -.5px;
	}
}

@mixin font-nav {
	font-size: $font-size-nav;
	font-weight: $font-weight-bold;
	text-decoration: none;
	text-transform: uppercase;
}

@mixin font-statusbar {
	letter-spacing: -.5px;
	
	@media (max-width: 768px) {
		font-size: $font-size-status;
	}
}

@mixin font-interactable {
	@media (max-width: 768px) {
		font-size: $font-size-interactable;
	}
}

:root {
	--text-alignment: left;
}

.jeesl-font-size-l {
	font-size: 1.5rem;
}

.jeesl-font-size-xl {
	font-size: 2rem;
}