@mixin jeesl-header {
	background: var(--container-header-background);
	color: var(--container-header-foreground);
	min-height: $element-height;
	padding: 0;
	text-shadow: 0 1px 0 $white-70;
	
	@media (max-width: 768px) {
		min-height: $element-height-mobile;
	}
	
}

@mixin jeesl-widget-header {
	@include jeesl-header;
	
	border: none;
	border-bottom: $header-underline;
	
	@media (max-width: 768px) {
		border-bottom-width: $header-element-underline-mobile;
	}
}

body {
	.jeesl-panel {
		@include jeesl-panel-titlebar;
		
		border: $border;
		
		.ui-panel-content {
			color: var(--container-content-foreground);
		}
		
		.ui-panelgrid .ui-panelgrid-cell {
			background: transparent;
		}
	}
	
	.jeesl-tabs {
		border: $border;
		
		@media (max-width: 768px) {
			padding: 0;
		}
		
		&.ui-tabs-top .ui-tabs-nav {
			padding: 2px 3px 0;
			
			&:before {
				display: none;
			}
			
			li.ui-tabs-header {
				border-bottom: none;
				
				&.ui-tabs-selected {
					border-color: var(--panel-content-select-dropdown-highlight-background);
					top: $border-width;
				}
			}
		}
		
		.ui-tabs-nav {
			background: var(--container-header-background);
			
			li.ui-tabs-header {
				@include jeesl-header;
				
				border: $border;
				border-width: $border-width $border-width 0;
				margin: 0 3px 0 0;
				
//				&.ui-state-hover {
//					background: linear-gradient(to bottom, $bright-grey 87%, $soft-grey 100%);
//				}
				
				&.ui-tabs-selected {
					background: var(--tabview-header-tab-highlight-background);
					cursor: default;
					
					> a, &.ui-state-hover > a {
						color: var(--tabview-header-tab-highlight-foreground);
					
						@media (max-width: 768px) {
							color: var(--tabview-header-tab-highlight-foreground);
						}
					}
				}
				
				&.ui-tabs-outline {
					box-shadow: inset 0 1px $white-100;
				}
				
				> a, &.ui-state-hover > a {
					color: var(--tabview-header-tab-foreground);
					padding: 0 $regular-spacing;
				}
			}
		}
		
		.ui-tabs-panels {
			background: transparent;
			border-radius: 0;
			color: var(--tabview-header-tab-foreground);
			padding: $half-spacing $regular-spacing;
			position: relative;
			
			.ui-tabs-panel {
				padding: 0;
			}
		}
	}
	
	.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
		color: var(--tabview-header-tab-foreground);
		font-weight: 700;
	}
	
	.ui-selectonemenu-panel {
		border: $border;
		box-shadow: $overlay-shadow;
		
		.ui-selectonemenu-filter-container + .ui-selectonemenu-items-wrapper table.ui-selectonemenu-items {
			margin-top: 0;
		}
		
		table.ui-selectonemenu-items {
			border-radius: 0;
			margin: $half-spacing 0;
			
			@media (max-width: 768px) {
				margin: $wide-spacing 0;
			}
			
			&:before {
				@include pseudo-overlay;
				
				background: var(--panel-content-select-dropdown-background);
				z-index: -1;
				
				@media (max-width: 768px) {
					border-radius: 0;
				}
			}
		}
		
		.ui-selectonemenu-items .ui-selectonemenu-item {
			&.ui-selectonemenu-row {
				border: none;
				
				> td {
					border: none;
					padding: $half-spacing 0;
				}
			}
			
			&.ui-state-highlight {
				background: var(--panel-content-select-dropdown-highlight-background);
				color: var(--panel-content-select-dropdown-highlight-foreground);
			}
		}
	}
	
	.ui-selectonebutton > .ui-button, .ui-selectmenybutton > .ui-button {
		@include button;
		
		border-radius: 0;
		
		&:first-child {
			border-radius: $border-radius-left;
		}
		
		&:last-child {
			border-radius: $border-radius-right;
		}
		
		&.ui-state-active:not(.ui-state-disabled):hover {
			border-color: $dark-colour;
		}
	}
	
	.ui-panelgrid .ui-panelgrid-cell {
		background: transparent;
		border: none;
		color: var(--container-content-foreground);
		padding: $half-spacing $regular-spacing;
	}
	
	.jeesl-datatable {
		border: $border;
		
		table {
			border-collapse: collapse;
    		border-style: hidden;
		}
			
		thead th {
			@include jeesl-header;
			
			border-color: var(--container-border-colour);
			height: $element-height;
			padding: $slim-spacing $regular-spacing;
			
			@media (max-width: 768px) {
				height: $element-height-mobile;
			}
			
//			span:not(.ui-icon) {
//				padding: $slim-spacing $regular-spacing;
//			}
		}
		
		tfoot td {
			background: var(--container-content-background);
			border-width: $header-element-underline 0 0;
			padding: $half-spacing $regular-spacing;
			
			@media (max-width: 768px) {
				border-top-width: $header-element-underline-mobile;
			}
		}
		
		tbody.ui-datatable-data {
			background: var(--container-content-background);
			
			> tr {
				background: transparent;
				color: var(--container-content-foreground);
				transition: background $transition-duration linear;
				
				&:nth-child(2n) {
					background: var(--datatable-content-odd-row-background);
				}
				
				&.ui-state-hover {
					background: var(--datatable-content-hover-background);
				}
				
				&.ui-state-highlight {
					background: var(--datatable-content-highlight-background);
					color: var(--datatable-content-highlight-foreground);
					
					> td {
						border-color: var(--datatable-content-highlight-border-colour);
					}
				}
				
				> td, .ui-panelgrid-cell {
					background: transparent;
					border-color: var(--datatable-content-border-colour);
					padding: $half-spacing $regular-spacing;
					transition: border-color $transition-duration linear;
				}
			}
		}
		
		.ui-datatable-header {
			@include jeesl-widget-header;
			
//			border-width: 0 0 $border-width;
			
//			@media (max-width: 768px) {
//				border-width: 0;
//			}
		}
		
		.ui-paginator {
			padding: 0;
			
			&.ui-paginator-bottom {
				@include jeesl-header;
				
				border-width: $border-width 0 0;
				border-radius: $border-radius-bottom;
			}
			
			.ui-paginator-first, .ui-paginator-prev, .ui-paginator-next, .ui-paginator-last {
				font-family: "Font Awesome 5 Free" !important;
				
				&:before {
					display: none;
				}
			}
		}
	}
	
	.jeesl-fileupload {
		@include jeesl-fileupload-titlebar;
		
		background: var(--container-content-background);
		border-color: var(--container-border-colour);
		border-radius: $border-radius;
		color: var(--container-content-foreground);
		padding: 0;
		
		.ui-fileupload-buttonbar {
			border-radius: $border-radius-top;
			
			.ui-button.ui-button-text-icon-left .ui-icon {
				left: 0;
				margin: 0;
				
				@media (max-width: 768px) {
					left: 0;
					margin: 0;
				}
			}
		}
		
		.ui-fileupload-content {
			background: transparent;
			
			.ui-button {
				@media (max-width: 768px) {
					width: auto;
				}
				
				.ui-icon {
					height: auto;
					left: 0;
					margin: 0;
					position: relative;
					top: 0;
				}
			}
			
			.ui-fileupload-files .ui-fileupload-row > div {
				padding: $half-spacing $regular-spacing;
			}
		}
	}
	
	.ui-button.ui-button-text-only .ui-button-text {
		padding: $slim-spacing 0;
	}
	
	.ui-chkbox .ui-chkbox-box {
		&.ui-state-focus {
			box-shadow: none;
		}
		
		.ui-chkbox-icon.ui-icon-check {
			font-family: "Font Awesome 5 Free";
			font-weight: 700;
			left: 0;
			
			&:before {
				content: "\1F5F8";
			}
		}
	}
	
	.html-container-panel .ui-panel-content {
		border: none;
		color: var(--container-content-foreground);
		padding: 0;
	}
	
	.ui-calendar {
		&.ui-trigger-calendar input.hasDatepicker {
			border-radius: $border-radius;
		}
		
		.ui-button.ui-button-icon-only {
			border-radius: $border-radius;
		}
	}
	
	.ui-datepicker.ui-input-overlay {
		border: var(--container-border-colour);
		border-radius: $border-radius;
		box-shadow: $overlay-shadow;
		color: var(--container-content-foreground);
		padding: $half-spacing;
		min-width: min-content !important;
		
		.ui-datepicker-header {
			background: var(--panel-content-select-dropdown-header-background);
			border: none;
			color: var(--panel-content-select-dropdown-header-foreground);
			margin: 0 #{-$half-spacing};
			padding: 0;
			
			a {
				color: inherit;
			}
			
			.ui-datepicker-prev, .ui-datepicker-next {
				line-height: normal;
				margin-top: 0;
				
				&:before {
					content: none;
				}
			}
		}
		
		.ui-datepicker-calendar {
			margin: 0;
			
			th {
				padding: $half-spacing;
				
				@media (max-width: 768px) {
					line-height: calc($ls-element-height-mobile - $separator-thickness-mobile);
				}
			}
			
			tbody {
				width: 100%;
			
				td {
					padding: 0;
					
					&.ui-datepicker-week-col {
						text-align: center;
						background: $light-grey;
					}
									
					> a {
						border-radius: 0;
						display: block;
						height: auto;
						line-height: $line-height-base;
//						margin: 0 auto;
						padding: 0;
//						width: $line-height-base;
						width: 100%;
						
						@media (max-width: 768px) {
							line-height: calc($ls-element-height-mobile - $separator-thickness-mobile);
							width: auto;
						}
						
						&.ui-state-default.ui-state-active {
							background: var(--panel-content-select-dropdown-highlight-background);
							color: var(--panel-content-select-dropdown-highlight-foreground);
						}
						
						&:focus {
							box-shadow: none;
						}
					}
				}
			}
		}
		
		.ui-timepicker-div {
			dd, dt {
				margin: 0;
				padding: 0;
			}
			
			.ui_tpicker_time_label {
				margin: 0 0 #{$regular-spacing} #{-$wide-spacing};
				padding: 0 0 0 $wide-spacing;
			}
			
			.ui_tpicker_time {
				margin: 0 #{-$wide-spacing} #{$regular-spacing} 0;
				padding-right: $wide-spacing;
			}
		}
	}
	
	.ui-messages .ui-messages-error .ui-messages-close, .ui-messages .ui-messages-fatal .ui-messages-close {
		border-radius: 0 $border-radius 0 0;
		background: $error-background;
		color: var(--messages-foreground);
		right: 0;
		top: 0;
	}
	
	.ui-dialog {
		border-radius: $border-radius;
		box-shadow: $overlay-shadow;
		
		&:not(.jeesl-dialog) {
			background: transparent;
			
			.ui-dialog-titlebar {
				display: none;
			}
			
			.ui-dialog-content {
				display: flex;
				flex-grow: 1;
				padding: 0;
				
				form, form .ui-panel {
					height: 100%;
					width: 100%;
				}
			}
		}
		
		.ui-dialog-titlebar {
			@include jeesl-widget-header;
		}
		
		.ui-dialog-content {
			background: transparent;
			padding: $half-spacing $regular-spacing;
			
			.jeesl-grid {
				flex-grow: 1;

				&:first-child {
					margin-left:0;
				}
				
				&:last-child {
					margin-right: 0;
				}
				
				.ui-panel {
					margin: 0;
				}
			}
		}
		
		.ui-dialog-footer {
			background: transparent;
			border-top: $header-element-underline solid var(--container-header-underline-colour);
			color: var(--container-footer-foreground);
			padding: $half-spacing $regular-spacing;
			text-align: left;
		}
	}
	
	.ui-texteditor {
		.ui-editor-toolbar.ql-toolbar {
			background: none;
			border: solid var(--container-border-colour);
			border-radius: 0;
	   		border-width: 0 0 $border-width;
   		}
   		
   		.ql-container {
			border: none !important;
		}
	}
}