@mixin jeesl-widget-header {
	background: $panel-header-gradient;
	border: $border;
	color: $body-foreground;
	min-height: $element-height;
	padding: 0;
	text-shadow: 0 1px 0 $white-70;
	
	@media (max-width: 768px) {
		min-height: $element-height-mobile;
	}
}

body {
	.jeesl-panel {
		border: $border;
		
		.ui-panel-titlebar {
			border-radius: $border-radius
		}
	}
	
	.jeesl-tabs {
		border: $border;
		padding: $slim-spacing;
		
		@media (max-width: 768px) {
			padding: 0;
		}
		
		&.ui-tabs-top .ui-tabs-nav {
			padding: 2px 3px 0;
			
			&:before {
				display: none;
			}
			
			li.ui-tabs-header {
				border-bottom: none;
				
				&.ui-tabs-selected {
					border-color: $border-colour;
					top: $border-width;
				}
			}
		}
		
		.ui-tabs-nav {
			background: $panel-header-gradient;
			
			li.ui-tabs-header {
				@include jeesl-widget-header;
				
				border-width: $border-width $border-width 0;
				margin: 0 3px 0 0;
				
				&.ui-state-hover {
					background: linear-gradient(to bottom, $bright-grey 87%, $soft-grey 100%);
				}
				
				&.ui-tabs-selected {
					background: linear-gradient(to bottom, $white-100, $panel-background);
					
					> a {
						color: $anthracite;
					
						@media (max-width: 768px) {
							color: $white-100;
						}
					}
				}
				
				&.ui-tabs-outline {
					box-shadow: inset 0 1px $white-100;
				}
				
				> a {
					color: $anthracite;
					padding: 0 $regular-spacing;
				}
			}
		}
		
		.ui-tabs-panels {
			background: transparent;
			color: $body-foreground;
		}
	}
	
	.ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight {
		color: $white-100;
	}
	
	.jeesl-datatable {
		border: $border;
		
		table {
			border-collapse: collapse;
    		border-style: hidden;
		}
			
		thead th {
			@include jeesl-widget-header;
			
			height: $element-height;
			
			@media (max-width: 768px) {
				height: $element-height-mobile;
			}
			
			span {
				padding: $slim-spacing $regular-spacing;
			}
		}
		
		.ui-datatable-data {
			background: $panel-background;
			
			> tr {
				background: transparent;
				color: $body-foreground;
				transition: background $transition-duration linear;
				
				&:nth-child(2n) {
					background: $white-50;
				}
				
				&.ui-state-hover {
					background: $light-grey;
				}
				
				&.ui-state-highlight {
					background: $dark-colour;
					color: $white-100;
				}
				
				> td, .ui-panelgrid-cell {
					background: transparent;
					border-color: $light-grey;
					padding: $half-spacing $regular-spacing;
				}
			}
		}
		
		.ui-datatable-header {
			@include jeesl-widget-header;
			
			border-width: 0 0 $border-width;
			
			@media (max-width: 768px) {
				border-width: 0;
			}
		}
		
		.ui-paginator {
			padding: 0;
			
			&.ui-paginator-bottom {
				@include jeesl-widget-header;
				
				border-width: $border-width 0 0;
				border-radius: $border-radius-bottom;
			}
			
			.ui-paginator-first, .ui-paginator-prev, .ui-paginator-next, .ui-paginator-last {
				font-family: "Font Awesome 5 Free" !important;
				
				&:before {
					display: none;
				}
			}
		}
	}
}