@mixin jeesl-header {
	background: $panel-header-gradient;
	color: $body-foreground;
	min-height: $element-height;
	padding: 0;
	text-shadow: 0 1px 0 $white-70;
	
	@media (max-width: 768px) {
		min-height: $element-height-mobile;
	}
	
}

@mixin jeesl-widget-header {
	@include jeesl-header;
	
	border: none;
	border-bottom: $header-underline;
	
	@media (max-width: 768px) {
		border-bottom-width: $header-element-underline-mobile;
	}
}

body {
	.jeesl-panel {
		@include jeesl-panel-titlebar;
		
		border: $border;
		
		.ui-panelgrid .ui-panelgrid-cell {
			background: transparent;
		}
	}
	
	.jeesl-tabs {
		border: $border;
		
		@media (max-width: 768px) {
			padding: 0;
		}
		
		&.ui-tabs-top .ui-tabs-nav {
			padding: 2px 3px 0;
			
			&:before {
				display: none;
			}
			
			li.ui-tabs-header {
				border-bottom: none;
				
				&.ui-tabs-selected {
					border-color: $border-colour;
					top: $border-width;
				}
			}
		}
		
		.ui-tabs-nav {
			background: $panel-header-gradient;
			
			li.ui-tabs-header {
				@include jeesl-header;
				
				border: $border;
				border-width: $border-width $border-width 0;
				margin: 0 3px 0 0;
				
				&.ui-state-hover {
					background: linear-gradient(to bottom, $bright-grey 87%, $soft-grey 100%);
				}
				
				&.ui-tabs-selected {
					background: linear-gradient(to bottom, $white-100, $panel-background);
					cursor: default;
					
					> a, &.ui-state-hover > a {
						color: $white-100;
					
						@media (max-width: 768px) {
							color: $white-100;
						}
					}
				}
				
				&.ui-tabs-outline {
					box-shadow: inset 0 1px $white-100;
				}
				
				> a, &.ui-state-hover > a {
					color: $anthracite;
					padding: 0 $regular-spacing;
				}
			}
		}
		
		.ui-tabs-panels {
			background: transparent;
			color: $body-foreground;
		}
	}
	
	.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
		color: $body-foreground;
		font-weight: 700;
	}
	
	.ui-selectonemenu-panel {
		border: $border;
		box-shadow: $overlay-shadow;
		
		table.ui-selectonemenu-items {
			border-radius: 0;
			margin: $half-spacing 0;
			
			@media (max-width: 768px) {
				margin: $wide-spacing 0;
			}
			
			&:before {
				@include pseudo-overlay;
				
				background: $white-100;
				z-index: -1;
				
				@media (max-width: 768px) {
					border-radius: 0;
				}
			}
		}
		
		.ui-selectonemenu-items .ui-selectonemenu-item {
			&.ui-selectonemenu-row {
				border: none;
				
				> td {
					border: none;
					padding: $half-spacing 0;
				}
			}
			
			&.ui-state-highlight {
				background: $highlight-colour;
				color: $white-100;
			}
		}
	}
	
	.jeesl-datatable {
		border: $border;
		
		table {
			border-collapse: collapse;
    		border-style: hidden;
		}
			
		thead th {
			@include jeesl-header;
			
			border-color: $border-colour;
			height: $element-height;
			
			@media (max-width: 768px) {
				height: $element-height-mobile;
			}
			
			span {
				padding: $slim-spacing $regular-spacing;
			}
		}
		
		tfoot td {
			background: $panel-background;
			border-width: $header-element-underline 0 0;
			padding: $half-spacing $regular-spacing;
			
			@media (max-width: 768px) {
				border-top-width: $header-element-underline-mobile;
			}
		}
		
		.ui-datatable-data {
			background: $panel-background;
			
			> tr {
				background: transparent;
				color: $body-foreground;
				transition: background $transition-duration linear;
				
				&:nth-child(2n) {
					background: $white-50;
				}
				
				&.ui-state-hover {
					background: $light-grey;
				}
				
				&.ui-state-highlight {
					background: $highlight-colour;
					color: $white-100;
				}
				
				> td, .ui-panelgrid-cell {
					background: transparent;
					border-color: $light-grey;
					padding: $half-spacing $regular-spacing;
				}
			}
		}
		
		.ui-datatable-header {
			@include jeesl-widget-header;
			
//			border-width: 0 0 $border-width;
			
//			@media (max-width: 768px) {
//				border-width: 0;
//			}
		}
		
		.ui-paginator {
			padding: 0;
			
			&.ui-paginator-bottom {
				@include jeesl-header;
				
				border-width: $border-width 0 0;
				border-radius: $border-radius-bottom;
			}
			
			.ui-paginator-first, .ui-paginator-prev, .ui-paginator-next, .ui-paginator-last {
				font-family: "Font Awesome 5 Free" !important;
				
				&:before {
					display: none;
				}
			}
		}
	}
	
	.ui-chkbox .ui-chkbox-box {
		&.ui-state-focus {
			box-shadow: none;
		}
		
		.ui-chkbox-icon.ui-icon-check {
			font-family: "Font Awesome 5 Free";
			font-weight: 700;
			left: 0;
			
			&:before {
				content: "\1F5F8";
			}
		}
	}
	
	.html-container-panel .ui-panel-content {
		border: none;
		color: $foreground;
		padding: 0;
	}
	
	.ui-calendar {
		&.ui-trigger-calendar input.hasDatepicker {
			border-radius: $border-radius;
		}
		
		.ui-button.ui-button-icon-only {
			border-radius: $border-radius;
			
			.ui-icon {
				margin: 0;
				translate: -50% -50%;
			}
		}
	}
	
	.ui-datepicker.ui-input-overlay {
		border: $border;
		border-radius: $border-radius;
		box-shadow: $overlay-shadow;
		color: $body-foreground;
		padding: $half-spacing;
		width: min-content;
		
		.ui-datepicker-header {
			background: $status-bar-background-gradient;
			border: none;
			color: $white-100;
			margin: 0 #{-$half-spacing};
			padding: 0;
			
			.ui-datepicker-prev, .ui-datepicker-next {
				line-height: normal;
				margin-top: 0;
				
				&:before {
					content: none;
				}
			}
		}
		
		.ui-datepicker-calendar {
			margin: 0;
			
			th {
				padding: $half-spacing;
				
				@media (max-width: 768px) {
					line-height: calc($ls-element-height-mobile - $separator-thickness-mobile);
				}
			}
			
			tbody {
				width: 100%;
			
				td {
					padding: 0;
									
					> a {
						border-radius: 0;
						display: block;
						height: auto;
						line-height: $line-height-base;
						padding: 0;
						width: $line-height-base;
						
						@media (max-width: 768px) {
							line-height: calc($ls-element-height-mobile - $separator-thickness-mobile);
							width: auto;
						}
						
						&.ui-state-default.ui-state-active {
							background: $medium-colour;
							color: $white-100;
						}
						
						&:focus {
							box-shadow: none;
						}
					}
				}
			}
		}
	}
	
	.ui-messages .ui-messages-error .ui-messages-close, .ui-messages .ui-messages-fatal .ui-messages-close {
		border-radius: 0 $border-radius 0 0;
		background: $error-background;
		color: $white-100;
		right: 0;
		top: 0;
	}
	
	.ui-dialog {
		border-radius: $border-radius;
		box-shadow: $overlay-shadow;
		
		&:not(.jeesl-dialog) {
			background: transparent;
			
			.ui-dialog-titlebar {
				display: none;
			}
			
			.ui-dialog-content {
				display: flex;
				flex-grow: 1;
				padding: 0;
				
				form, form .ui-panel {
					height: 100%;
					width: 100%;
				}
			}
		}
		
		.ui-dialog-titlebar {
			@include jeesl-widget-header;
		}
		
		.ui-dialog-content {
			background: transparent;
			padding: $half-spacing $regular-spacing;
			
			.jeesl-grid {
				flex-grow: 1;

				&:first-child {
					margin-left:0;
				}
				
				&:last-child {
					margin-right: 0;
				}
				
				.ui-panel {
					margin: 0;
				}
			}
		}
		
		.ui-dialog-footer {
			background: transparent;
			border-top: $header-element-underline solid $dark-colour;
			color: $dark-colour;
			padding: $half-spacing $regular-spacing;
			text-align: left;
		}
	}
}