@use 'sass:math';
@use 'sass:string';

$border: $border-width solid var(--container-border-colour);

@mixin vertical-center($pseudo) {
	&:#{$pseudo} {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	
	> * {
		display: inline-block;
		vertical-align: middle;
	}
}

@mixin overlay {
	background: var(--panel-content-select-dropdown-background);
	border: $border;
	border-radius: $border-radius;
	box-shadow: $overlay-shadow;
	opacity: 0;
	transition: opacity .2s linear;
	z-index: 1000;
	
	@media (max-width: 768px) {
		border: none;
		border-radius: 0;
		left: 0 !important;
		width: 100% !important;
	}
	
	&.jeesl-visible {
		opacity: 1;
	}
	
	.jeesl-overlay-wrapper {
		color: var(--panel-content-select-dropdown-foreground);
		overflow: auto;
	}
}

@mixin select-list($class) {
	padding: $half-spacing 0;
	
	@media (max-width: 768px) {
		padding: $wide-spacing 0;
	}
	
	&:before {
		@media (max-width: 768px) {
			border-bottom: $separator-thickness-mobile solid var(--panel-content-select-dropdown-separator-colour);
		    content: '';
		    display: block;
		    width: calc(100% - (2 * #{$wide-spacing}));
		    margin: 0 $wide-spacing;
		}
	}
	
	.#{$class}-item {
		align-items: center;
		background: transparent;
		border: none;
		border-radius: 0;
		cursor: pointer;
		display: flex;
		min-height: $ls-element-height;
		padding: $slim-spacing $half-spacing;
		position: relative;
		transition: background .2s linear;
		white-space: normal;
		
		@media (max-width: 768px) {
			border-radius: 0;
			font-size: 1.1em;
		    font-weight: 700;
			min-height: $ls-element-height-mobile;
			margin: 0;
		    padding: calc(#{$regular-spacing} - #{$separator-thickness-mobile}) $wide-spacing $regular-spacing;
			text-shadow: none;
		}
		
		&:after {
			@media (max-width: 768px) {
				border-bottom: $separator-thickness-mobile solid var(--panel-content-select-dropdown-separator-colour);
				bottom: 0;
				content: '';
				display: block;
				position: absolute;
				transition: border-color $transition-duration linear;
				width: calc(100% - 2 * #{$wide-spacing});
			}
		}
		
		&.ui-state-hover, &:hover {
			&:not(.ui-state-highlight) {
				background: var(--panel-content-select-dropdown-hover-background);
				box-shadow: none;
				color: var(--panel-content-select-dropdown-hover-foreground);
				
				@media (max-width: 768px) {
					background: none;
				}
				
				&:after {
					border-color: var(--panel-content-select-dropdown-hover-foreground);
				}
			}
		}
				
		&.ui-state-highlight {
			background: var(--panel-content-select-dropdown-highlight-background);
			font-weight: 700;
			text-shadow: none;
			
			&:after {
				@media (max-width: 768px) {
					border-color: transparent;
				}
			}
		}
	}
}

@mixin setBackground($url) {
	body {
		background: var(--main-background) url($url) repeat fixed;
	}
}

.jeesl-bold {
	font-weight: 700;
}

.jeesl-italic {
	font-style: italic;
}

.jeesl-left {
	text-align: left;
}

.jeesl-center {
	text-align: center;
}

.jeesl-right {
	text-align: right;
}

.jeesl-red {
	color: var(--body-alert-foreground);
}

.jeesl-grey {
	color: var(--body-emphasis-foreground);
}

.jeesl-greyscale {
	filter: grayscale(1);
}

.jeesl-block {
	display: block;
}

.jeesl-flex {
	align-items: center;
	display: flex;
}

.ui-corner-all {
	border-radius: $border-radius;
}
	
.ui-corner-top {
	border-radius: $border-radius-top;
}
	
.ui-corner-bottom {
	border-radius: $border-radius-bottom;
}
	
.ui-corner-left {
	border-radius: $border-radius-left;
}
	
.ui-corner-right {
	border-radius: $border-radius-right;
}

.ui-input-overlay {
	@include overlay;
}

@mixin button($active-class: ui-state-active) {
	@include element-height;
	@include min-button-width;
	@include vertical-center(after);
	
	background: var(--panel-content-button-background);
	border: $border;
	border-radius: $border-radius;
	box-shadow: $highlight-shadow;
	color: var(--panel-content-button-foreground);
	cursor: pointer;
	font-weight: 700;
	line-height: normal;
	padding: 0 $regular-spacing;
	text-align: center;
	text-shadow: $text-shadow;
	transition: border-color $transition-duration linear, color $transition-duration linear, text-shadow $transition-duration linear;
	z-index: 0;
	
	@media (max-width: 768px) {
		padding: 0 $regular-spacing;
		width: auto;
	}
	
	&:before {
		background: $soft-grey;
		content: '';
	    height: 100%;
	    left: 0;
		opacity: 0;
	    position: absolute;
	    top: 0;
		transition: background $transition-duration linear, opacity $transition-duration linear;
	    width: 100%;
	    z-index: -1;
	}
	
	&.ui-button-icon-only .ui-button-text {
		display: none;
	}
	
	&.ui-button-text-icon-left .ui-button-text {
		margin-left: $half-spacing;
	}
	
	&.jeesl-loading-button .ui-icon-loading + .ui-button-text {
		padding-left: $half-spacing;
	}
	
	&.#{$active-class}, &.ui-state-hover, &:hover {
		&:before {
			opacity: 1;
			transition: background $transition-duration linear, opacity $transition-duration linear;
		}
	}
	
	// TODO: Check! May override an unwanted hover effect on some elements.
//	&.ui-state-hover, &:hover {
//		&:not(.#{$active-class}):not(.ui-state-disabled):not(:disabled) {
//			background: $panel-header-gradient;
//			border-color: $medium-grey;
//			box-shadow: none;
//			color: $anthracite;
//		}
//	}
	
	&.ui-state-disabled, &:disabled {
		background: var(--panel-content-button-disabled-background);
		color: var(--panel-content-button-disabled-foreground);
		cursor: default;
		opacity: 1;
	}
	
	&.#{$active-class} {
		border-color: var(--panel-content-button-highlight-border-colour);
		color: var(--panel-content-button-highlight-foreground);
		text-shadow: none;
	
		&:focus {
			box-shadow: none;
		}
		
		&:before {
			background: var(--panel-content-button-highlight-background);
		}
	}
	
	.ui-button-text {
		line-height: normal;
		padding: $slim-spacing 0;
	}
}

@mixin inputfield {
	background: var(--panel-content-input-background);
	border: none;
	border-radius: $border-radius;
    box-shadow: none;
	line-height: normal;
	min-height: $element-height;
	outline: none;
    padding: $half-spacing $regular-spacing !important;
	white-space: normal;
	width: 100%;
	
	&.ui-state-focus {
		box-shadow: none;
	}
	
	@media (max-width: 768px) {
		min-height: $element-height-mobile;
		padding: $regular-spacing !important;
	}
}

@mixin icon {
	background-image: none !important; // Override primefaces 12 rule.
	color: inherit; // !important; Override primefaces 12 rule.
	display: inline-block;
	font-family: "Font Awesome 5 Free";
    font-size: inherit;
	font-weight: 700;
	height: auto;
	line-height: normal;
	margin: 0;
	position: relative;
    text-indent: 0;
    text-rendering: auto;
	transition: background $transition-duration linear;
	top: 0;
	width: auto;
    -webkit-font-smoothing: antialiased;
	
	&:before {
		font-size: inherit;
		vertical-align: top;
		
		@media (max-width: 768px) {
			font-size: 2em;
		}
	}
}

.timeline-event-box.ui-state-default {
	@include button;
}

.ui-button.ui-state-default {
	@include button;
	
	&.ui-state-loading {
		.ui-button-text {
			opacity: 1;
		}
		
		&.jeesl-loading-button .ui-icon.ui-icon-loading {
			display: inline-block;
		}
	}
	
	.ui-icon {
		left: 0;
		margin: 0;
		position: relative;
		top: 0;
		
		&.ui-icon-loading {
			display: none;
		}
	}
	
	.ui-icon-circle-triangle-e:before {
		content: $icon-next;
	}
	
	.ui-icon-circle-triangle-w:before {
		content: $icon-previous;
	}
}

.ui-chkbox {
	.ui-chkbox-box.ui-state-default {
		@include button;
		
		padding: 0;
		position: relative;
		text-align: center;
		width: $element-height;
		
		@media (max-width: 768px) {
			width: $element-height-mobile;
		}
		
		&.ui-corner-all:before {
			border-radius: $border-radius - 1px;
		}
		
		.ui-icon {
			@include icon;
		}
		
		.ui-icon-check:before {
			content: "\1F5F8";
			display: inline-block;
		}
	}
}

.ui-inputfield.ui-state-default {
	@include inputfield;
}

.ui-inputgroup {
	align-items: stretch;
	display: flex;
	margin: 0;
	
	.ui-button, .ui-inputfield {
		margin: 0;
	}
	
	.ui-button {
		width: auto;
	}
}

.jeesl-output-container {
	align-items: center;
	display: flex;
	
	.ui-outputtext {
		flex-grow: 1;
	}
	
	.jeesl-input-label {
		padding: 0 $half-spacing;
	}
	
	.ui-chkbox {
		margin: -$half-spacing 0;
		
		@media (max-width: 768px) {
			margin: 0;
		}
	}

	@media (max-width: 768px) {
		.ui-outputlabel {
			padding: 0 0 0 $regular-spacing;
		}
	}
}

.jeesl-input-container {
	display: flex;
	
	.ui-inputtext, .ui-inputtextarea {
		flex-grow: 1;
		flex-shrink: 1;
		width: 0;
	}
	
	.ui-commandlink {
		flex-grow: 1;
		height: auto;
		margin: 0 0 0 6px;
		padding: 0;
		
		> img {
			height: auto;
			width: 100%;
		}
	}
	
	.ui-button, .ui-chkbox {
		align-items: center;
		display: flex;
//		flex: 1;
		flex-shrink: 0;
		justify-content: center;
		margin: 0 0 0 6px;
		overflow: hidden;
		padding: 0 $slim-spacing;
		
		min-width: calc(15% - 6px);
		
		.ui-button-text {
			padding: 0;
		}
	}
}

.ui-float-label {
	align-items: center;
	background: var(--panel-content-input-background);
	border-radius: $border-radius;
	display: flex;
	
	> .ui-inputfield {
		order: 2;

		&:focus, &.ui-state-filled {
			~ .ui-outputlabel {
				font-size: 1em;
				top: 50%;
			}
		}
	}
	
	> .ui-outputlabel {
		color: var(--panel-content-input-foreground);
		left: 0;
		margin: 0;
		opacity: .5;
		padding-left: $regular-spacing;
		position: relative;
	}
}

@mixin jeesl-select($class) {
	.#{$class}.ui-state-default {
//		background: $panel-header-gradient;
		border: none;
		display: flex;
		padding: 0;
		
		&.ui-state-active, &.ui-state-hover, &.ui-state-focus {
//			border-color: $medium-grey;
			box-shadow: none;
//			color: $anthracite;
		}
		
		.ui-inputfield {
			@include inputfield;
			
			border-radius: $border-radius-left;
			width: calc(85% + 6px);
		}
		
		.#{$class}-label {
			align-items: center;
			display: flex;
		}
		
		.#{$class}-trigger {
			@include button;
			@include vertical-center(after);
			
			border-radius: $border-radius-right;
			flex-grow: 1;
			height: auto;
			padding: 0;
			position: relative;
			text-align: center;
			width: auto;
			
			@media (max-width: 768px) {
				height: auto;
				padding: 0;
			}
		}
	
		.ui-icon {
			@include icon;
			
			position: relative;
			text-indent: 0;
		}
		
		.ui-icon-triangle-1-s:before {
			content: $icon-down !important; // Override primefaces 12 rule.
			font-size: 1.5em;
			
			@media (max-width: 768px) {
				font-size: 2.5em;
			}
		}
	}
	
	.#{$class}-panel {
		opacity: 1;
		width: auto;
		
		@media (max-width: 768px) {
			width: 100% !important;
		}
		
		&.hide-disabled-items {
			.ui-selectonemenu-item.ui-state-disabled {
				display: none;
			}
		}
		
		.#{$class}-filter-container {
			margin: 0 $half-spacing;
			
			.ui-inputfield {
				font-size: 1rem;
				line-height: normal;
			}
			
			.ui-icon {
				align-items: center;
				display: flex;
				height: 100%;
				pointer-events: none;
				opacity: .5;
				position: absolute;
				right: $half-spacing;
				top: 0;
				width: auto;
				
				&:before {
					color: var(--panel-content-select-dropdown-foreground);
					font-size: 1.2em;
					text-shadow: none;
				}
			}
		}
		
		.#{$class}-items-wrapper {
			@media (max-width: 768px) {
				max-height: 400px !important;
			}
			
			.#{$class}-list, .ui-selectonemenu-table tbody {
				@include select-list($class);
			}
		}
	}
}

@include jeesl-select(ui-selectonemenu);
@include jeesl-select(ui-selectcheckboxmenu);

.ui-autocomplete-panel {
	opacity: 1;
}

.ui-calendar {
	.ui-datepicker-trigger {
		padding: 0;
		
		.ui-icon {
			@include icon;
		}
	}
}

@mixin headlined-overlay-icon {
	background: transparent;
	border-radius: 0;
	font-size: $font-size;
	height: $ls-element-height;
	left: 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-decoration: none;
	top: 0;
	transition: background $transition-duration linear;
	width: $ls-element-height;
	
	@media (max-width: 768px) {
		font-size: $font-size-mobile;
		height: $ls-element-height-mobile;
		width: $ls-element-height-mobile;
	}
	
	&.ui-state-hover {
		border: none;
		box-shadow: none;
		background: var(--panel-content-select-dropdown-header-button-hover-background);
	}
	
	.ui-icon {
		align-items: center;
		display: flex;
		height: 100%;
		left: 0;
		margin: 0;
		position: relative;
		top: 0;
		
		&:before {
			flex-grow: 1;
			text-indent: 0;
		}
	}
}

@mixin headlined-overlay($class) {
	padding: $half-spacing 0;
	opacity: 1;
	
	@media (max-width: 768px) {
		padding: $wide-spacing 0;
	}
	
	.#{$class}-header, > thead th {
		align-items: center;
		background-image: var(--panel-content-select-dropdown-header-background);
		background-repeat: repeat;
		background-size: 100% $ls-element-height;
		border: 0;
		border-radius: 0;
		color: var(--panel-content-select-dropdown-header-foreground);
		display: flex;
		font-size: 1.2em;
		font-weight: bold;
		margin: 0;
		padding: 0;
		text-shadow: none;
		
		@media (max-width: 768px) {
			background-size: 100% $ls-element-height-mobile;
		}
		
		.#{$class}-title, .ui-outputlabel {
			flex-grow: 1;
			font-weight: bold;
			line-height: $ls-element-height;
			margin: 0;
			order: 1;
			
			@media (max-width: 768px) {
				line-height: $ls-element-height-mobile;
			}
		}
	}
	
	> thead th {
		display: table-cell;
		text-align: center;
	}
}

@mixin headlined-overlay-filter($class) {
	.ui-icon {
		@include icon();
		@include vertical-center(after);
		
		font-size: 1.2rem;
		height: 100%;
		white-space: nowrap;
		width: 100%;

		&:before {
			color: var(--panel-content-select-dropdown-header-foreground);
			display: inline-block;
			vertical-align: middle;
			width: 100%;

			@media (max-width: 768px) {
				font-size: 2.5em;
			}
		}
	}
}

.ui-selectonemenu-panel {
	@include headlined-overlay-filter(ui-selectonemenu);
	
	.ui-selectonemenu-filter-container {
		align-items: center;
		background: var(--panel-content-select-dropdown-header-background);
		display: flex;
		height: $ls-element-height;
		margin: $half-spacing 0;
		padding: 0 $half-spacing;
		
		.ui-icon {
			right: $regular-spacing;
		}
	}
	
	.ui-selectonemenu-items-wrapper .ui-selectonemenu-table {
		@include headlined-overlay(ui-selectonemenu);
		
		tbody .ui-selectonemenu-item {
			display: table-row;
		}
	}
}

.ui-selectcheckboxmenu-panel {
	@include headlined-overlay(ui-selectcheckboxmenu);
	@include headlined-overlay-filter(ui-selectcheckboxmenu);
	
	background-size: auto;
	
	.ui-selectcheckboxmenu-header {
		padding-left: $half-spacing;
		
		.ui-selectcheckboxmenu-filter-container {
		    align-items: center;
		    display: flex;
			flex: 1;
		    height: $ls-element-height;
		}
		
		.ui-selectcheckboxmenu-close {
			@include headlined-overlay-icon;
			
			float: none;
			font-size: 1.1em;
			margin: 0;
			padding: 0;
		}
		
		.ui-icon {
			float: none;
		}
	}
	
	.ui-selectcheckboxmenu-items-wrapper {
		height: auto !important;
		max-height: $ls-max-height;
		padding: 0;
		
		.ui-selectcheckboxmenu-list {
			padding: 0;
			
			.ui-selectcheckboxmenu-item {
				display: flex;
				
				&:after {
					bottom: 0;
					position: absolute;
					width: calc(100% - (2 * #{$wide-spacing}));
				}
				
				label {
					cursor: inherit;
					flex: 1;
					padding: 0 0 0 $half-spacing;
				}
				
				.ui-chkbox {
					margin: 0;
					position: relative;
					top: 0;
				}
			}
		}
	}
}

.jeesl-datepicker {
	display: flex;
	
	.ui-inputfield {
		width: calc(100% + 6px);
	}
	
	.ui-datepicker-trigger.ui-state-default {
		position: relative;
		right: 0;
	}
}

.ui-datepicker:not(.ui-datepicker-inline) {
	@include headlined-overlay(ui-datepicker);
	
	padding: $half-spacing;
	
	.ui-datepicker-header {
		margin: 0 #{-$half-spacing};
		
		@media (max-width: 768px) {
			margin: 0;
		}
		
		.ui-icon {
			left: 0;
		}
		
		.ui-datepicker-prev {
			order: 0;
		}
		
		.ui-datepicker-next {
			order: 2;
		}
		
		.ui-datepicker-prev, .ui-datepicker-next {
			@include headlined-overlay-icon;
		}
	}
	
	.ui-datepicker-calendar {
		margin: 0;
		
		@media (max-width: 768px) {
			margin: 0 $wide-spacing;
			width: calc(100% - (2 * #{$wide-spacing}));
		}
		
		> tbody {
			border: solid $border-colour;
			border-width: $border-width 0;
			
			@media (max-width: 768px) {
				border-width: $separator-thickness-mobile 0;
			
				> tr:last-child {
					.ui-state-default {
						margin-bottom: $slim-spacing;
					}
				}
			}
			
			.ui-state-default {
				color: inherit;
				font-weight: 400;
				text-align: center;
				text-shadow: none;
				
				@media (max-width: 768px) {
					font-size: $font-size-ls-mobile;
					font-weight: $font-weight-bold;
					line-height: calc(#{$ls-element-height-mobile} - #{$separator-thickness-mobile});
					padding: 0;
					
					&:after {
						border-bottom: $separator-thickness-mobile solid var(--panel-content-datepicker-separator-colour);
					    content: '';
					    display: block;
					}
				}
				
				&.ui-state-highlight {
					background: var(--panel-content-datepicker-highlight-background);
					box-shadow: none;
					color: var(--panel-content-datepicker-highlight-foreground);
					font-weight: bold;
					
					&.ui-state-hover {
						background: var(--panel-content-datepicker-highlight-background);
					}
				}
				
				&.ui-state-hover {
					background: var(--panel-content-select-dropdown-hover-background);
					color: var(--panel-content-select-dropdown-hover-foreground);
					text-shadow: none;
					
					&:after {
						border-color: var(--panel-content-select-dropdown-hover-foreground);
						color: var(--panel-content-select-dropdown-hover-foreground);
					}
					
					@media (max-width: 768px) {
						background: transparent;
						
						&:after {
							background: none;
						}
					}
				}
				
				&.ui-state-active {
					background: var(--panel-content-select-dropdown-highlight-background);
					color: var(--panel-content-select-dropdown-highlight-foreground);
					
					&:after {
						border-color: var(--panel-content-select-dropdown-highlight-background);
					}
					
					&.ui-state-hover {
						background: var(--panel-content-select-dropdown-highlight-background);
					}
				}
			}
		}
	}
	
	.ui-timepicker-div {
		dl, dl dt, dl dd {
			float: none;
			margin: 0;
			padding: 0;
		}
		
		dl {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			padding: 0 $regular-spacing;
			
			dt {
				font-weight: 700;
				width: 40%;
				
				@media (max-width: 768px) {
					height: $ls-element-height-mobile;
					line-height: $ls-element-height-mobile;
					padding-left: math.div($ls-element-height-mobile, 2);
				}
			}
			
			dd {
				width: 60%;
				
				@media (max-width: 768px) {
					padding-right: math.div($ls-element-height-mobile, 2);
				}
			}
		}
		
		.ui_tpicker_time_label, .ui_tpicker_time {
			background: var(--panel-content-datepicker-summary-background);
			margin-bottom: $regular-spacing;
		}
		
		.ui_tpicker_time_label {
			height: $ls-element-height;
			line-height: $ls-element-height;
			margin-left: -#{$regular-spacing + $half-spacing};
			padding-left: #{$regular-spacing + $half-spacing};
			width: calc(40% + #{$regular-spacing + $half-spacing});
			
			@media (max-width: 768px) {
				height: $ls-element-height-mobile;
				line-height: $ls-element-height-mobile;
				padding-left: #{$regular-spacing + $half-spacing + math.div($ls-element-height-mobile, 2)};
			}
		}
		
		.ui_tpicker_time {
			height: $ls-element-height;
			line-height: $ls-element-height;
			margin-right: -#{$regular-spacing + $half-spacing};
			padding-right: #{$regular-spacing + $half-spacing};
			width: calc(60% + #{$regular-spacing + $half-spacing});
			
			@media (max-width: 768px) {
				font-size: 1.2em;
				height: $ls-element-height-mobile;
				line-height: $ls-element-height-mobile;
			}
			
			.ui_tpicker_time_input {
				border: none;
				width: 100%;
			}
		}
	}
}

.ui-slider {
	background: var(--panel-content-slider-track-background);
    border: none;

	&.ui-slider-horizontal {
		box-shadow: none;
		height: 8px;
	}
	
	.ui-slider-handle.ui-state-default {
		@include button;
		
		border-radius: 50%;
		height: 16px;
		margin-left: -8px;
		outline: none;
		top: -4px;
		width: 16px;
		
		&.ui-state-hover {
			cursor: pointer;
		}
		
		&.ui-corner-all:before {
			border-radius: 50%;
		}
		
		@media (max-width: 768px) {
			margin-left: math.div(-$element-height-mobile, 2);
			top: math.div(-$element-height-mobile, 2) + 4px;
			width: $element-height-mobile;
		}
	}
}

.ui-texteditor {
	border: $border;
	
	.ql-toolbar {
		margin: 0;
		border: solid var(--container-border-colour);
		border-width: 0 0 $border-width;
	}
	
	.ql-container {
		border: none;
		overflow: hidden;
	
		.ql-editor {
			background: var(--panel-content-input-background);
			
			@media (max-width: 768px) {
				min-height: $element-height-mobile;
			}
		}
	}
}

// TODO: Check!
@mixin token-container($classname) {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: $slim-spacing;
	padding: $slim-spacing $half-spacing;
	
	&:empty:after {
		font-weight: 700;
		opacity: .5;
		padding: 0;
		margin: 0;
	}
	
	.#{$classname}-token {
		@include button;
		
		align-items: center;
		display: flex;
		height: auto;
		margin: 0;
		min-height: $element-height;
		padding: 0;
		
		@media (max-width: 768px) {
			min-height: $element-height-mobile;
			padding-right: #{$element-height-mobile - 2 * $border-width};
		}
		
		.#{$classname}-token-label {
			display: inline-block;
			max-width: 100%;
			padding: 0 $half-spacing;
			text-align: left;
			white-space: break-spaces;
		}
		
		.#{$classname}-token-icon {
			@include icon;
			
			align-self: stretch;
			color: var(--panel-content-select-chips-foreground) !important;
			flex-shrink: 0;
			left: auto;
			min-height: #{$element-height - 2 * $border-width};
			order: 2;
			position: relative;
			right: 0;
			width: #{$element-height - 2 * $border-width};
			
			@media (max-width: 768px) {
				height: #{$element-height-mobile - 2 * $border-width};
				width: #{$element-height-mobile - 2 * $border-width};
			}
			
			&:hover:before {
				background: var(--panel-content-select-chips-icon-background);
			}
			
			&:before {
			    background: var(--panel-content-select-chips-icon-hover-background);
				content: '';
			    height: 100%;
				left: 0;
			    position: absolute;
			    top: 0;
				transition: background .2s linear;
			    width: 100%;
			    z-index: -1;
			}
			
			&:after {
				align-items: center;
				content: "\f00d";
				display: flex;
				font-size: 1.2em;
				justify-content: center;
				height: 100%;
				width: 100%;
				
				@media (max-width: 768px) {
					font-size: 1.8em;
				}
			}
		}
	}
	
	.#{$classname}-input-token {
		min-height: $element-height;
		width: 100%;
		
		@media (max-width: 768px) {
			min-height: $element-height-mobile;
		}
		
		input {
			width: 100%;
		}
	}
}

.ui-chips-container {
	@include token-container(ui-chips);
}

.ui-selectcheckboxmenu-multiple-container {
	@include token-container(ui-selectcheckboxmenu);
}

@for $i from 1 to 13 {
	.p-md-#{$i} {
		flex: 0 0 auto;
		width: math.round(math.div(100, 12) * $i) * 1%;
	}
}

.jeesl-input-grid {
	&:first-child {
		.p-field:first-child {
			padding-top: 0;
		}
	}
	
	.p-grid {
		display: flex;
		
		&.p-field {
			align-items: center;
		    margin: 0;
		    padding: 0;
		}
	}
	
	.p-field {
		> label {
			margin-bottom: 0;
		}
		
		.p-col {
			padding: $half-spacing;
			
			&:first-child {
				padding-left: 0;
			}
		}
	}
}

.jeesl-nowrap {
	white-space: nowrap;
}

.jeesl-icon {
	display: inline-block;
	min-height: auto;
	vertical-align: top;
}

img.jeesl-icon, .jeesl-icon img, .pf-action-icon img, .ui-selectonemenu img {
	height: calc($icon-height * var(--icon-height-multiplier));

	@media (max-width: 768px) {
		height: calc($icon-height-mobile * var(--icon-height-multiplier) - 2 * #{$half-spacing});
	}
}

.ui-icon {
	@include icon;
		
	&.ui-icon-calendar:before {
		content: $icon-calendar;
	}
	
	&.ui-icon-carat-2-n-s:before { // That's a primefaces typo.
		content: $icon-sort;
	}
	
	&.ui-icon-check:before {
		content: $icon-check;
	}
		
	&.ui-icon-close, &.ui-icon-circle-close, &.ui-icon-closethick {
		&:before {
			content: $icon-close;
		}
	}
	
	&.ui-icon-pencil:before {
		content: $icon-pencil;
	}
	
	&.ui-icon-plusthick:before {
		content: $icon-plus;
	}
	
	&.ui-icon-search:before {
		content: $icon-search;
	}
		
	&.ui-icon-seek-first:before {
		content: $icon-start;
	}
	
	&.ui-icon-seek-prev:before {
		content: $icon-backward;
	}
	
	&.ui-icon-seek-next:before {
		content: $icon-forward;
	}
	
	&.ui-icon-seek-end:before {
		content: $icon-end;
	}
	
	&.ui-icon-triangle-1-n:before {
		content: $icon-up;
	}
	
	&.ui-icon-triangle-1-s:before {
		content: $icon-down;
	}
		
	&.ui-icon-circle-triangle-w:before {
		content: $icon-previous;
	}
	
	&.ui-icon-circle-triangle-e:before {
		content: $icon-next;
	}
	
	&.ui-icon-arrow-4:before {
		content: $icon-all-arrows;
	}
	
	&.ui-icon-apply {
		transform: rotate(90deg);
		
		&:before {
			content: $icon-return;
		}
	}
	
	&.ui-icon-loading:before {
		content: $icon-loading;
	}
}

.ui-spinner {
	display: grid;
	grid-template: string.unquote("[row1-start] 'input btn-up' min-content [row1-end] [row2-start] 'input btn-down' min-content [row2-end] / calc(85% + 6px) 1fr");
	
	.ui-spinner-input {
		grid-area: input;
	}
	
	.ui-spinner-button {
		height: math.div($element-height, 2);
		position: relative;
		
		&.ui-spinner-up {
			box-shadow: none;
		}
		
		&.ui-spinner-down {
			border-top-width: 0;
		}
		
		.ui-button-text {
			display: block;
			height: 100%;
			padding: 0;
			
			.ui-icon {
				left: 0 !important; // Overwrite primefaces rule.
				top: -1px;
				
				&:before {
					line-height: 9px;
				}
			}
		}
	}
}

.ui-colorpicker .ui-button .ui-button-text {
	align-items: center;
	display: flex;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
}

.jeesl-input-container {
	> .jeesl-input-label {
		background: var(--panel-content-input-background);
		padding: 0 $half-spacing;
		
		@media (max-width: 768px) {
			padding: $regular-spacing;
		}
	}
	
	> .ui-inputtextarea, > .ui-inputtext {
		flex-grow: 1;
		
		&:not(:first-child) {
			padding-left: 0 !important;
		}
		
		&:not(:last-child) {
			padding-right: 0 !important;
		}
	}
}

.jeesl-button-group {
	.ui-button {
		border-radius: 0;
		
		&:not(:first-child) {
			margin-left: -$border-width;
		}
		
		&:first-child {
			border-radius: $border-radius-left;
		}
		
		&:last-child {
			border-radius: $border-radius-right;
		}
	}
}

.fc {
	.fc-button {
		@include button(fc-button-active);
	}
	
	.fc-center {
		margin: 0 $regular-spacing;
	}
}

.ui-colorpicker-container {
	@include overlay;
	
	background: var(--container-content-background);
	opacity: 1;
	
	.ui-colorpicker_color, .ui-colorpicker_hue, .ui-colorpicker_new_color {
		border: $border;
	}
	
	.ui-colorpicker_hue {
		background: $colour-spectrum;
		margin: 0 8px;
		width: 19px;
		
		> div {
			left: -9px;
			margin-top: -6px;
		}
	}
	
	.ui-colorpicker_new_color {
		border-radius: $border-radius
	}
	
	.ui-colorpicker_hex, .ui-colorpicker_field {
		background: transparent;
		display: flex;
		width: 60px;
		
		&:before {
			margin-right: $half-spacing;
		}

		> input {
			@include inputfield;
			
			border-radius: $border-radius-left;
			left: 0;
			height: auto;
			padding: $half-spacing 7px !important;
			position: relative;
			top: 0;
		}
		
		> span {
			@include button;
			
			border-radius: $border-radius-right;
			position: relative;
			
			&:after {
				align-items: center;
				content: '\f0dc';
				display: flex;
				font-family: "Font Awesome 5 Free";
			    font-size: inherit;
				font-weight: 700;
				justify-content: center;
				text-shadow: $text-shadow;
			    -webkit-font-smoothing: antialiased;
			}
		}
	}
	
	.ui-colorpicker_hex:before {
		content: '#';
	}
	
	.ui-colorpicker_rgb_r:before {
		content: 'R';
	}
	
	.ui-colorpicker_rgb_g:before {
		content: 'G';
	}
	
	.ui-colorpicker_rgb_b:before {
		content: 'B';
	}
	
	.ui-colorpicker_hsb_h:before {
		content: 'H';
	}
	
	.ui-colorpicker_hsb_s:before {
		content: 'S';
	}
	
	.ui-colorpicker_hsb_b:before {
		content: 'B';
	}
}


//.ui-corner-all:before {
//	@extend .ui-corner-all;
//}
//
//.ui-corner-top:before {
//	@extend .ui-corner-top;
//}
//
//.ui-corner-bottom:before {
//	@extend .ui-corner-bottom;
//}
//
//.ui-corner-left:before {
//	@extend .ui-corner-left;
//}
//
//.ui-corner-right:before {
//	@extend .ui-corner-right;
//}

.ui-dialog-mask {
	z-index: 1002 !important;
}

/* Primefaces 12 fixes */
body .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	font-family: "Font Awesome 5 Free" !important;
}

/* Primefaces only sets dotted, which overrides both border width and color. It shouldn't, but it does.' */
.fc-time-grid .fc-slats	.fc-minor td {
	border: $border-width dotted var(--container-border-colour);
}