.html-container-panel {
	.html-container {
		> div > section {
			padding: $regular-spacing;
			
			> h1:first-child {
				@include jeesl-titlebar;
				@include jeesl-titlebar-title;
				
				margin: -#{$regular-spacing} -#{$regular-spacing} #{$regular-spacing};
				
				@media (max-width: 768px) {
					margin: -$regular-spacing;
					margin-bottom: $regular-spacing + $header-element-underline;
				}
				
				&:after {
					left: 0;
				}
			}
		}
	}
}