@import '_decimal';

$border: $border-width solid $border-colour;

@mixin vertical-center($pseudo) {
	&:#{$pseudo} {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	
	> * {
		display: inline-block;
		vertical-align: middle;
	}
}

@mixin overlay {
	background: $white-100;
	border: $border-width solid $border-colour;
	border-radius: $border-radius;
	box-shadow: $overlay-shadow;
	opacity: 0;
	transition: opacity .2s linear;
	z-index: 1000;
	
	@media (max-width: 768px) {
		border: none;
		border-radius: 0;
		left: 0 !important;
		width: 100% !important;
	}
	
	&.jeesl-visible {
		opacity: 1;
	}
	
	.jeesl-overlay-wrapper {
		color: $body-foreground;
		overflow: auto;
	}
}

@mixin select-list($class) {
	padding: $half-spacing 0;
	
	@media (max-width: 768px) {
		padding: $wide-spacing 0;
	}
	
	&:before {
		@media (max-width: 768px) {
			border-bottom: $separator-thickness-mobile solid $soft-grey;
		    content: '';
		    display: block;
		    width: calc(100% - (2 * #{$wide-spacing}));
		    margin: 0 $wide-spacing;
		}
	}
	
	.#{$class}-item {
		align-items: center;
		background: transparent;
		border: none;
		border-radius: 0;
		cursor: pointer;
		display: flex;
		min-height: $ls-element-height;
		padding: $slim-spacing $half-spacing;
		position: relative;
		transition: background .2s linear;
		white-space: normal;
		
		@media (max-width: 768px) {
			border-radius: 0;
			font-size: 1.1em;
		    font-weight: 700;
			min-height: $ls-element-height-mobile;
			margin: 0;
		    padding: calc(#{$regular-spacing} - #{$separator-thickness-mobile}) $wide-spacing $regular-spacing;
			text-shadow: none;
		}
		
		&:after {
			@media (max-width: 768px) {
				border-bottom: $separator-thickness-mobile solid $bright-grey;
				bottom: 0;
				content: '';
				display: block;
				position: absolute;
				width: calc(100% - 2 * #{$wide-spacing});
			}
		}
		
		&.ui-state-hover, &:hover {
			&:not(.ui-state-highlight) {
				background: $light-grey;
				box-shadow: none;
				color: $dark-colour;
				
				@media (max-width: 768px) {
					background: none;
				}
				
				&:after {
					border-color: $dark-colour;
				}
			}
		}
				
		&.ui-state-highlight {
			background: $highlight-colour;
			font-weight: 700;
			text-shadow: none;
			
			&:after {
				@media (max-width: 768px) {
					border-color: $white-0;
				}
			}
		}
	}
}

@mixin setBackground($url) {
	body {
		background: $light-grey url($url) repeat fixed;
	}
}

.jeesl-left {
	float: left;
}

.jeesl-right {
	float: right;
}

.jeesl-greyscale {
	filter: grayscale(1);
}

.ui-corner-all {
	border-radius: $border-radius;
}
	
.ui-corner-top {
	border-radius: $border-radius-top;
}
	
.ui-corner-bottom {
	border-radius: $border-radius-bottom;
}
	
.ui-corner-left {
	border-radius: $border-radius-left;
}
	
.ui-corner-right {
	border-radius: $border-radius-right;
}

.ui-input-overlay {
	@include overlay;
}

@mixin button($active-class: ui-state-active) {
	@include element-height;
	@include min-button-width;
	@include vertical-center(after);
	
	background: $panel-header-gradient;
	border: $border;
	box-shadow: $highlight-shadow;
	color: $foreground;
	cursor: pointer;
	font-weight: 700;
	line-height: normal;
	padding: 0 $half-spacing;
	text-align: center;
	text-shadow: $text-shadow;
	transition: border-color $transition-duration linear, color $transition-duration linear, text-shadow $transition-duration linear;
	z-index: 0;
	
	@media (max-width: 768px) {
		padding: 0 $regular-spacing;
		width: auto;
	}
	
	&:before {
		background: $soft-grey;
		content: '';
	    height: 100%;
	    left: 0;
		opacity: 0;
	    position: absolute;
	    top: 0;
		transition: background $transition-duration linear, opacity $transition-duration linear;
	    width: 100%;
	    z-index: -1;
	}
	
	&.ui-button-icon-only {
		.ui-button-text {
			display: none;
		}
	}

	&.ui-corner-all:before {
		@extend .ui-corner-all;
	}
	
	&.ui-corner-top:before {
		@extend .ui-corner-top;
	}
	
	&.ui-corner-bottom:before {
		@extend .ui-corner-bottom;
	}
	
	&.ui-corner-left:before {
		@extend .ui-corner-left;
	}
	
	&.ui-corner-right:before {
		@extend .ui-corner-right;
	}
	
	&.#{$active-class}, &.ui-state-hover, &:hover {
		&:before {
			opacity: 1;
			transition: background $transition-duration linear, opacity $transition-duration linear;
		}
	}
	
	&.ui-state-hover, &:hover {
		&:not(.#{$active-class}):not(.ui-state-disabled):not(:disabled) {
			background: $panel-header-gradient;
			border-color: $medium-grey;
			box-shadow: none;
			color: $anthracite;
		}
	}
	
	&.ui-state-disabled, &:disabled {
		background: linear-gradient(to bottom, $bright-grey, $light-grey);
		color: $soft-grey;
		cursor: default;
		opacity: 1;
	}
	
	&.#{$active-class} {
		border-color: $dark-colour;
		color: $white-100;
		text-shadow: none;
	
		&:focus {
			box-shadow: none;
		}
		
		&:before {
			background: $highlight-colour;
		}
	}
	
	.ui-button-text {
		line-height: normal;
		padding: $slim-spacing $regular-spacing;
	}
}

@mixin inputfield {
	background: $white-100;
	border: none;
	border-radius: $border-radius;
    box-shadow: none;
	line-height: normal;
	min-height: $element-height;
	outline: none;
    padding: $half-spacing $regular-spacing !important;
	white-space: normal;
	width: 100%;
	
	&.ui-state-focus {
		box-shadow: none;
	}
	
	@media (max-width: 768px) {
		padding: $regular-spacing !important;
	}
}

@mixin icon-default-size {
	.jeesl-icon {
		height: $table-icon-height;
		width: auto;
		
		@media (max-width: 768px) {
			height: $table-icon-height-mobile;
		}
	}
}

@mixin icon {
	background-image: none !important; // Override primefaces 12 rule.
	color: inherit; // !important; Override primefaces 12 rule.
	display: inline-block;
	font-family: "Font Awesome 5 Free";
    font-size: inherit;
	font-weight: 700;
	height: auto;
	line-height: normal;
	margin: 0;
	position: relative;
    text-indent: 0;
    text-rendering: auto;
	transition: background $transition-duration linear;
	top: 0;
	width: auto;
    -webkit-font-smoothing: antialiased;
	
	&:before {
		font-size: inherit;
		vertical-align: top;
		
		@media (max-width: 768px) {
			font-size: 2em;
		}
	}
}

.timeline-event-box.ui-state-default {
	@include button;
}

.ui-button.ui-state-default {
	@include button;
	
	.ui-icon {
//		@include icon;

		left: 0;
		margin: 0;
		position: relative;
		top: 0;
	}
	
	.ui-icon-circle-triangle-e:before {
		content: $icon-next;
	}
	
	.ui-icon-circle-triangle-w:before {
		content: $icon-previous;
	}
}

.ui-chkbox {
	.ui-chkbox-box.ui-state-default {
		@include button;
		
		position: relative;
		text-align: center;
		width: $element-height;
		
		@media (max-width: 768px) {
			padding: 0;
			width: $element-height-mobile;
		}
		
		&.ui-corner-all:before {
			border-radius: 0;
		}
		
		.ui-icon {
			@include icon;
		}
		
		.ui-icon-check:before {
			content: "\1F5F8";
			display: inline-block;
		}
	}
}

.ui-inputfield.ui-state-default {
	@include inputfield;
}

.ui-inputgroup {
	align-items: stretch;
	display: flex;
	margin: 0;
	
	.ui-button, .ui-inputfield {
		margin: 0;
	}
	
	.ui-button {
		width: auto;
	}
}

.ui-float-label {
	align-items: center;
	background: $white-100;
	border-radius: $border-radius;
	display: flex;
	
	> .ui-inputfield {
		order: 2;

		&:focus, &.ui-state-filled {
			~ .ui-outputlabel {
				font-size: 1em;
				top: 50%;
			}
		}
	}
	
	> .ui-outputlabel {
		color: $foreground;
		left: 0;
		margin: 0;
		opacity: .5;
		padding-left: $regular-spacing;
		position: relative;
	}
}

@mixin jeesl-select($class) {
	.#{$class}.ui-state-default {
		background: $panel-header-gradient;
		border: none;
		display: flex;
		padding: 0;
		
		&.ui-state-active, &.ui-state-hover, &.ui-state-focus {
			border-color: $medium-grey;
			box-shadow: none;
			color: $anthracite;
		}
		
		.ui-inputfield {
			@include inputfield;
			
			border-radius: $border-radius-left;
			width: calc(85% + 6px);
		}
		
		.#{$class}-label {
			align-items: center;
			display: flex;
		}
		
		.#{$class}-trigger {
			@include button;
			@include vertical-center(after);
			
			flex-grow: 1;
			height: auto;
			padding: 0;
			position: relative;
			text-align: center;
			width: auto;
			
			@media (max-width: 768px) {
				height: auto;
				padding: 0;
			}
		}
	
		.ui-icon {
			@include icon;
			
			position: relative;
			text-indent: 0;
		}
		
		.ui-icon-triangle-1-s:before {
			content: $icon-down !important; // Override primefaces 12 rule.
			font-size: 1.5em;
			
			@media (max-width: 768px) {
				font-size: 2.5em;
			}
		}
	}
	
	.#{$class}-panel {
		opacity: 1;
		width: auto !important;
		
		@media (max-width: 768px) {
			width: 100% !important;
		}
		
		&.hide-disabled-items {
			.ui-selectonemenu-item.ui-state-disabled {
				display: none;
			}
		}
		
		.#{$class}-header .#{$class}-filter-container {
			margin: 0 $half-spacing;
			
			.ui-inputfield {
				font-size: 1rem;
				line-height: normal;
			}
			
			.ui-icon {
				align-items: center;
				display: flex;
				height: 100%;
				pointer-events: none;
				opacity: .5;
				position: absolute;
				right: $half-spacing;
				top: 0;
				width: auto;
				
				&:before {
					color: $body-foreground;
					font-size: 1.2em;
					text-shadow: none;
				}
			}
		}
		
		.#{$class}-items-wrapper {
			@media (max-width: 768px) {
				max-height: 400px !important;
			}
			
			.#{$class}-list {
				@include select-list($class);
			}
		}
	}
}

@include jeesl-select(ui-selectonemenu);
@include jeesl-select(ui-selectcheckboxmenu);

//.ui-selectcheckboxmenu.ui-state-default {
//	.ui-selectcheckboxmenu-multiple-container {
//		height: auto;
//		min-height: $element-height;
//		padding: 0;
//		
//		.ui-selectcheckboxmenu-token {
//			@include button;
//			
//    		align-items: center;
//			display: flex;
//			height: $element-height - (2 * $slim-spacing);
//			padding: 0;
//			
//			.ui-selectcheckboxmenu-token-label {
//    			margin: 0 $half-spacing;
//				order: 1;
//				padding: 0;
//			}
//			
//			.ui-selectcheckboxmenu-token-icon {
//				@include vertical-center(after);
//				
//				height: 100%;
//				order: 2;
//				padding: 0 $half-spacing;
//				transition: background .2s linear;
//				
//				@media (max-width: 768px) {
//					margin-right: -$regular-spacing;
//					padding: 0 $regular-spacing;
//				}
//				
//				&:hover {
//					background: $bright-colour;
//				}
//				
//				&:before {
//					display: inline-block;
//					vertical-align: middle;
//				}
//			}
//		}
//	}
//}

.ui-autocomplete-panel {
	opacity: 1;
}

.ui-calendar {
	.ui-datepicker-trigger {
		padding: 0;
		
		.ui-icon {
			@include icon;
		}
	}
}

@mixin headlined-overlay-icon {
	background: transparent;
	border-radius: 0;
	font-size: $font-size;
	height: $ls-element-height;
	left: 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	top: 0;
	transition: background $transition-duration linear;
	width: $ls-element-height;
	
	@media (max-width: 768px) {
		font-size: $font-size-mobile;
		height: $ls-element-height-mobile;
		width: $ls-element-height-mobile;
	}
	
	&.ui-state-hover {
		border: none;
		box-shadow: none;
		background: $dark-colour;
	}
}

@mixin headlined-overlay($class) {
	padding: $half-spacing 0;
	opacity: 1;
	
	@media (max-width: 768px) {
		padding: $wide-spacing 0;
	}
	
	.#{$class}-header {
		align-items: center;
		background-image: $status-bar-background-gradient;
		background-repeat: repeat;
		background-size: 100% $ls-element-height;
		border: 0;
		border-radius: 0;
		color: $white-100;
		display: flex;
		font-size: 1.2em;
		margin: 0;
		padding: 0;
		text-shadow: none;
		
		@media (max-height: 768px) {
			background-size: 100% $ls-element-height-mobile;
		}
		
		.#{$class}-title {
			flex-grow: 1;
			line-height: $ls-element-height;
			margin: 0;
			order: 1;
			
			@media (max-width: 768px) {
				line-height: $ls-element-height-mobile;
			}
		}
		
		.ui-icon {
			@include icon();
			@include vertical-center(after);
			
			height: 100%;
			white-space: nowrap;
			width: 100%;

			&:before {
				color: white;
				display: inline-block;
				vertical-align: middle;
				width: 100%;

				@media (max-width: 768px) {
					font-size: 2.5em;
				}
			}
		}
	}
}

.ui-selectcheckboxmenu-panel {
	@include headlined-overlay(ui-selectcheckboxmenu);
	
	background-size: auto;
	
	.ui-selectcheckboxmenu-header {
		padding-left: $half-spacing;
		
		.ui-selectcheckboxmenu-filter-container {
		    align-items: center;
		    display: flex;
			flex: 1;
		    height: 26px;
		}
		
		.ui-selectcheckboxmenu-close {
			@include headlined-overlay-icon;
			
			float: none;
			font-size: 1.1em;
			margin: 0;
			padding: 0;
		}
		
		.ui-icon {
			float: none;
		}
	}
	
	.ui-selectcheckboxmenu-items-wrapper {
		height: auto !important;
		max-height: $ls-max-height;
		padding: 0;
		
		.ui-selectcheckboxmenu-list {
			padding: 0;
			
			.ui-selectcheckboxmenu-item {
				display: flex;
				
				&:after {
					bottom: 0;
					position: absolute;
					width: calc(100% - (2 * #{$wide-spacing}));
				}
				
				label {
					cursor: inherit;
					flex: 1;
					padding: 0 0 0 $half-spacing;
				}
				
				.ui-chkbox {
					margin: 0;
					position: relative;
					top: 0;
				}
			}
		}
	}
}

.jeesl-datepicker {
	display: flex;
	
	.ui-inputfield {
		width: calc(100% + 6px);
	}
	
	.ui-datepicker-trigger.ui-state-default {
		position: relative;
		right: 0;
	}
}

.ui-datepicker {
	@include headlined-overlay(ui-datepicker);
	
	padding: $half-spacing;
	
	.ui-datepicker-header {
		margin: 0 #{-$half-spacing};
		
		@media (max-width: 768px) {
			margin: 0;
		}
		
		.ui-icon {
			left: 0;
		}
		
		.ui-datepicker-prev {
			order: 0;
		}
		
		.ui-datepicker-next {
			order: 2;
		}
		
		.ui-datepicker-prev, .ui-datepicker-next {
			@include headlined-overlay-icon;
		}
	}
	
	.ui-datepicker-calendar {
		margin: 0;
		
		@media (max-width: 768px) {
			margin: 0 $wide-spacing;
			width: calc(100% - (2 * #{$wide-spacing}));
		}
		
		> tbody {
			border: solid $border-colour;
			border-width: $border-width 0;
			
			@media (max-width: 768px) {
				border-width: $separator-thickness-mobile 0;
			
				> tr:last-child {
					.ui-state-default {
						margin-bottom: $slim-spacing;
					}
				}
			}
			
			.ui-state-default {
				color: inherit;
				font-weight: 400;
				text-align: center;
				text-shadow: none;
				
				@media (max-width: 768px) {
					font-size: $font-size-ls-mobile;
					font-weight: $font-weight-bold;
					line-height: calc(#{$ls-element-height-mobile} - #{$separator-thickness-mobile});
					padding: 0;
					
					&:after {
						border-bottom: $separator-thickness-mobile solid $bright-grey;
					    content: '';
					    display: block;
					}
				}
				
				&.ui-state-highlight {
					background: $bright-grey;
					box-shadow: none;
					color: $dark-colour;
					font-weight: bold;
					
					&.ui-state-hover {
						background: $bright-grey;
					}
				}
				
				&.ui-state-hover {
					background: $light-grey;
					color: $dark-colour;
					text-shadow: none;
					
					&:after {
						border-color: $dark-colour;
						color: $dark-colour;
					}
					
					@media (max-width: 768px) {
						background: transparent;
						
						&:after {
							background: none;
						}
					}
				}
				
				&.ui-state-active {
					background: $highlight-colour;
					color: $white-100;
					
					&:after {
						border-color: $dark-colour;
					}
					
					&.ui-state-hover {
						background: $highlight-colour;
					}
				}
			}
		}
	}
	
	.ui-timepicker-div {
		dl, dl dt, dl dd {
			float: none;
			margin: 0;
			padding: 0;
		}
		
		dl {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			padding: 0 $regular-spacing;
			
			dt {
				font-weight: 700;
				width: 40%;
				
				@media (max-width: 768px) {
					height: $ls-element-height-mobile;
					line-height: $ls-element-height-mobile;
					padding-left: $ls-element-height-mobile / 2;
				}
			}
			
			dd {
				width: 60%;
				
				@media (max-width: 768px) {
					padding-right: $ls-element-height-mobile / 2;
				}
			}
		}
		
		.ui_tpicker_time_label, .ui_tpicker_time {
			background: $bright-grey;
			margin-bottom: $regular-spacing;
		}
		
		.ui_tpicker_time_label {
			height: $ls-element-height;
			line-height: $ls-element-height;
			margin-left: -#{$regular-spacing + $half-spacing};
			padding-left: #{$regular-spacing + $half-spacing};
			width: calc(40% + #{$regular-spacing + $half-spacing});
			
			@media (max-width: 768px) {
				height: $ls-element-height-mobile;
				line-height: $ls-element-height-mobile;
				padding-left: #{$regular-spacing + $half-spacing + ($ls-element-height-mobile / 2)};
			}
		}
		
		.ui_tpicker_time {
			height: $ls-element-height;
			line-height: $ls-element-height;
			margin-right: -#{$regular-spacing + $half-spacing};
			padding-right: #{$regular-spacing + $half-spacing};
			width: calc(60% + #{$regular-spacing + $half-spacing});
			
			@media (max-width: 768px) {
				font-size: 1.2em;
				height: $ls-element-height-mobile;
				line-height: $ls-element-height-mobile;
			}
			
			.ui_tpicker_time_input {
				border: none;
				width: 100%;
			}
		}
	}
}

.ui-slider {
	background: linear-gradient(to bottom, $dark-colour, $bright-colour);
    border: none;

	&.ui-slider-horizontal {
		box-shadow: none;
		height: 8px;
	}
	
	.ui-slider-handle.ui-state-default {
		@include button;
		
		border-radius: 50%;
		height: 16px;
		margin-left: -8px;
		outline: none;
		top: -4px;
		width: 16px;
		
		&.ui-state-hover {
			cursor: pointer;
		}
		
		&.ui-corner-all:before {
			border-radius: 50%;
		}
		
		@media (max-width: 768px) {
			margin-left: -$element-height-mobile / 2;
			top: -($element-height-mobile / 2) + 4px;
			width: $element-height-mobile;
		}
	}
}

.ui-texteditor {
	border: $border;
	
	.ql-toolbar {
		margin: 0;
		border: solid $border-colour;
		border-width: 0 0 $border-width;
	}
	
	.ql-container {
		border: none;
		overflow: hidden;
	
		.ql-editor {
			background: $white-100;
			
			@media (max-width: 768px) {
				min-height: $element-height-mobile;
			}
		}
	}
}

@mixin token-container($classname) {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: $slim-spacing;
	padding: $slim-spacing $half-spacing;
	
	&:empty:after {
		font-weight: 700;
		opacity: .5;
		padding: 0;
		margin: 0;
	}
	
	.#{$classname}-token {
		@include button;
		
		align-items: center;
		display: flex;
		height: auto;
		margin: 0;
		min-height: $element-height;
		padding: 0;
		
		@media (max-width: 768px) {
			min-height: $element-height-mobile;
			padding-right: #{$element-height-mobile - 2 * $border-width};
		}
		
		.#{$classname}-token-label {
			display: inline-block;
			max-width: 100%;
			padding: 0 $half-spacing;
			text-align: left;
			white-space: break-spaces;
		}
		
		.#{$classname}-token-icon {
			@include icon;
			
			align-self: stretch;
			color: $white-100 !important;
			flex-shrink: 0;
			left: auto;
			min-height: #{$element-height - 2 * $border-width};
			order: 2;
			position: relative;
			right: 0;
			width: #{$element-height - 2 * $border-width};
			
			@media (max-width: 768px) {
				height: #{$element-height-mobile - 2 * $border-width};
				width: #{$element-height-mobile - 2 * $border-width};
			}
			
			&:hover:before {
				background: linear-gradient(to right, transparent, #{$medium-colour} 50%) 0 0/100% 99% no-repeat
			}
			
			&:before {
			    background: linear-gradient(to right, transparent, #{$medium-colour} 50%) 12500% 0/99% 100% no-repeat;
				content: '';
			    height: 100%;
				left: 0;
			    position: absolute;
			    top: 0;
				transition: background .2s linear;
			    width: 100%;
			    z-index: -1;
			}
			
			&:after {
				align-items: center;
				content: "\f00d";
				display: flex;
				font-size: 1.2em;
				justify-content: center;
				height: 100%;
				width: 100%;
				
				@media (max-width: 768px) {
					font-size: 1.8em;
				}
			}
		}
	}
	
	.#{$classname}-input-token {
		min-height: $element-height;
		width: 100%;
		
		@media (max-width: 768px) {
			min-height: $element-height-mobile;
		}
		
		input {
			width: 100%;
		}
	}
}

.ui-chips-container {
	@include token-container(ui-chips);
}

.ui-selectcheckboxmenu-multiple-container {
	@include token-container(ui-selectcheckboxmenu);
}

.fc {
	.fc-button {
		@include button(fc-button-active);
	}
	
	.fc-center {
		margin: 0 $regular-spacing;
	}
}

@for $i from 1 to 13 {
	.p-md-#{$i} {
		flex: 0 0 auto;
		width: decimal-round(100 / 12 * $i) * 1%;
	}
}

.jeesl-input-grid {
	&:first-child {
		.p-field:first-child {
			padding-top: 0;
		}
	}
	
	.p-grid {
		display: flex;
		flex-wrap: wrap;
		
		&.p-field {
			align-items: center;
		    margin: 0;
		    padding: 0;
		}
	}
	
	.p-field {
		> label {
			margin-bottom: 0;
		}
		
		.p-col {
			padding: $half-spacing $regular-spacing;
			
			&:first-child {
				padding-left: 0;
			}
		}
	}
}

.jeesl-nowrap {
	white-space: nowrap;
}

.ui-icon {
	@include icon;
		
	&.ui-icon-calendar:before {
		content: $icon-calendar;
	}
	
	&.ui-icon-check:before {
		content: $icon-check;
	}
		
	&.ui-icon-close, &.ui-icon-circle-close, &.ui-icon-closethick {
		&:before {
			content: $icon-close;
		}
	}
	
	&.ui-icon-pencil:before {
		content: $icon-pencil;
	}
	
	&.ui-icon-plusthick:before {
		content: $icon-plus;
	}
	
	&.ui-icon-search:before {
		content: $icon-search;
	}
		
	&.ui-icon-seek-first:before {
		content: $icon-start;
	}
	
	&.ui-icon-seek-prev:before {
		content: $icon-backward;
	}
	
	&.ui-icon-seek-next:before {
		content: $icon-forward;
	}
	
	&.ui-icon-seek-end:before {
		content: $icon-end;
	}
	
	&.ui-icon-triangle-1-n:before {
		content: $icon-up;
	}
	
	&.ui-icon-triangle-1-s:before {
		content: $icon-down;
	}
		
	&.ui-icon-circle-triangle-w:before {
		content: $icon-previous;
	}
	
	&.ui-icon-circle-triangle-e:before {
		content: $icon-next;
	}
	
	&.ui-icon-arrow-4:before {
		content: $icon-all-arrows;
	}
}

.ui-spinner {
	display: grid;
	grid-template: unquote("[row1-start] 'input btn-up' min-content [row1-end] [row2-start] 'input btn-down' min-content [row2-end] / calc(85% + 6px) 1fr");
	
	.ui-spinner-input {
		grid-area: input;
	}
	
	.ui-spinner-button {
		height: #{$element-height / 2};
		position: relative;
		
		&.ui-spinner-up {
			box-shadow: none;
		}
		
		&.ui-spinner-down {
			border-top-width: 0;
		}
		
		.ui-button-text {
			display: block;
			height: 100%;
			padding: 0;
			
			.ui-icon {
				left: 0 !important; // Overwrite primefaces rule.
				top: -1px;
				
				&:before {
					line-height: 9px;
				}
			}
		}
	}
}

.ui-colorpicker .ui-button .ui-button-text {
	align-items: center;
	display: flex;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
}

.ui-colorpicker-container {
	@include overlay;
	
	background: $panel-background;
	opacity: 1;
	
	.ui-colorpicker_color, .ui-colorpicker_hue, .ui-colorpicker_new_color {
		border: $border;
	}
	
	.ui-colorpicker_hue {
		background: $colour-spectrum;
		margin: 0 8px;
		width: 19px;
		
		> div {
			left: -9px;
			margin-top: -6px;
		}
	}
	
	.ui-colorpicker_new_color {
		border-radius: $border-radius
	}
	
	.ui-colorpicker_hex, .ui-colorpicker_field {
		background: transparent;
		display: flex;
		width: 60px;
		
		&:before {
			margin-right: $half-spacing;
		}

		> input {
			@include inputfield;
			
			border-radius: $border-radius-left;
			left: 0;
			height: auto;
			padding: $half-spacing 7px !important;
			position: relative;
			top: 0;
		}
		
		> span {
			@include button;
			
			border-radius: $border-radius-right;
			position: relative;
			
			&:after {
				align-items: center;
				content: '\f0dc';
				display: flex;
				font-family: "Font Awesome 5 Free";
			    font-size: inherit;
				font-weight: 700;
				justify-content: center;
				text-shadow: $text-shadow;
			    -webkit-font-smoothing: antialiased;
			}
		}
	}
	
	.ui-colorpicker_hex:before {
		content: '#';
	}
	
	.ui-colorpicker_rgb_r:before {
		content: 'R';
	}
	
	.ui-colorpicker_rgb_g:before {
		content: 'G';
	}
	
	.ui-colorpicker_rgb_b:before {
		content: 'B';
	}
	
	.ui-colorpicker_hsb_h:before {
		content: 'H';
	}
	
	.ui-colorpicker_hsb_s:before {
		content: 'S';
	}
	
	.ui-colorpicker_hsb_b:before {
		content: 'B';
	}
}

/* Primefaces 12 fixes */
body .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	font-family: "Font Awesome 5 Free" !important;
}

/* Primefaces only sets dotted, which overrides both border width and color. It shouldn't, but it does.' */
.fc-time-grid .fc-slats	.fc-minor td {
	border: $border-width dotted $border-colour;
}