.heatmap {
	display: flex;
	gap: $slim-spacing;
	
	.heatmap-item {
		background: $dark-colour;
		height: $table-icon-height;
		width: $table-icon-height;
		
		@media (max-width: 768px) {
			height: $table-icon-height-mobile;
			width: $table-icon-height-mobile;
		}
	}
}

.highcharts-button {
	&.highcharts-button-hover .highcharts-button-box {
		fill: $bright-colour;
		stroke: $bright-colour;
		transition: fill $transition-duration linear, stroke $transition-duration linear;
	}
	
	text {
		fill: $white-100 !important;
		font-family: $font-family-base;
		font-weight: 700 !important;
		text-decoration: none !important;
		transform: translateY(1px);
	}
	
	.highcharts-button-box {
		fill: $dark-colour;
		stroke: $dark-colour;
	}
}

.orgchart {
	text-align: center;
}