$element-height: 22px;
$element-height-mobile: 42px;

$sb-element-height: 26px;
$sb-element-height-mobile: 42px;
$sb-vertical-padding: 6px;

$bc-element-height: 30px;
$bc-element-height-mobile: 42px;

$ls-max-height: 200px;
$ls-element-height: 26px;
$ls-element-height-mobile: 50px;
$ls-element-padding-vertical: 6px;
$ls-element-padding-horizontal: 7px;
$ls-element-padding: $ls-element-padding-vertical $ls-element-padding-horizontal;

$header-icon-height: 12px;
$header-icon-height-mobile: 29px;
$header-element-height: 22px;
$header-element-height-mobile: 42px;

$min-button-width: 15px;
$min-button-width-mobile: 30px;

$slim-spacing: 2px;
$half-spacing: 5px;
$regular-spacing: 10px;
$wide-spacing: 15px;

$border-width: 1px;
$separator-thickness-mobile: 2px;

$headings-margin-bottom: $half-spacing;
$paragraph-margin-bottom: $wide-spacing;

$table-cell-padding: $regular-spacing;
$label-margin-bottom: 0;

$max-content-width: 982px;
$min-content-width: 400px;

$border-radius: 3px;
$border-radius-top: $border-radius $border-radius 0 0;
$border-radius-bottom: 0 0 $border-radius $border-radius;
$border-radius-left: $border-radius 0 0 $border-radius;
$border-radius-right: 0 $border-radius $border-radius 0;

$transition-duration: .2s;

$datepicker-input-width: 55px;
$datepicker-input-width-mobile: 88px;

@mixin element-height {
	height: $element-height;
	
	@media (max-width: 768px) {
		height: $element-height-mobile;
	}
}

@mixin min-button-width {
	min-width: $min-button-width;
	
	@media (max-width: 768px) {
		min-width: $min-button-width-mobile;
	}
}

@mixin jeesl-burger-icon-size ($icon-size, $bar-width) {
	.jeesl-burger-menu-icon {
		height: $icon-size;
		padding: calc(#{$icon-size - $bar-width} / 2) $wide-spacing;
	    width: $icon-size;
	
		&:before {
			margin-top: calc(-#{$icon-size} / 4);
		}
		
		&:after {
			margin-top: calc(#{$icon-size} / 4);
		}
		
		&:before, &:after {
		    height: $bar-width;
		}
		
		&.jeesl-active {
			&:before {
				transform: translateY(calc(#{$icon-size} / 4)) rotate(-45deg);
			}
			
			&:after {
				transform: translateY(calc(-#{$icon-size} / 4)) rotate(45deg);
			}
		}
	}
}

@mixin setContainerWidth($width) {
	$max-content-width: $width;
}