@import '_colours';
@import '_decimal';
@import '_fonts';
@import '_sizes';

$border: $border-width solid $border-colour;

$font-size-mobile: 26px;
$element-height-mobile: 84px;

@mixin font-dropdown {
	font-size: $font-size-interactable;
	font-weight: $font-weight-bold;
	letter-spacing: normal;
}

@mixin overlay {
	border: none;
	border-radius: 0;
	left: 0 !important;
	width: 100% !important;
}

@mixin select-list($class) {
	padding: $wide-spacing 0;
	
	&:before {
		border-bottom: $separator-thickness-mobile solid $soft-grey;
	    content: '';
	    display: block;
	    width: calc(100% - (2 * #{$wide-spacing}));
	    margin: 0 $wide-spacing;
	}
	
	.#{$class}-item {
		border-radius: 0;
		font-size: 1.2em;
	    font-weight: 700;
		min-height: $ls-element-height-mobile;
	    margin: 0;
	    padding: calc(#{$regular-spacing} - #{$separator-thickness-mobile}) $wide-spacing $regular-spacing;
		text-shadow: none;
		
		&:after {
			border-bottom: $separator-thickness-mobile solid $bright-grey;
			bottom: 0;
			content: '';
			display: block;
			position: absolute;
			width: calc(100% - 2 * #{$wide-spacing});
		}
		
		&.ui-state-hover, &:hover {
			&:not(.ui-state-highlight) {
				background: none;
			}
		}
				
		&.ui-state-highlight:after {
			border-color: $white-0;
		}
	}
}

html, body, .ui-widget {
	font-size: $font-size-mobile;
}

.ui-input-overlay {
	@include overlay;
}

@mixin button {
	height: $element-height-mobile;
	min-width: $min-button-width-mobile;
	padding: 0 $regular-spacing;
}

@mixin inputfield {
	height: $element-height-mobile;
	line-height: calc(#{$element-height-mobile} - 2 * (#{$half-spacing}));
	padding: $regular-spacing !important;
}

@mixin icon {
	&:before {
		font-size: 2em;
	}
}

.ui-button.ui-state-default {
	@include button;
	
	.ui-icon {
		@include icon;
	}
}

.ui-chkbox .ui-chkbox-box.ui-state-default {
	@include button;
	
	padding: 0;
	width: $element-height-mobile;
	
	.ui-icon {
		@include icon;
	}
	
	.ui-icon-check:before {
		padding: 7px 2px 0 0;
	}
}

.ui-inputfield.ui-state-default {
	@include inputfield;
}

@mixin jeesl-select($class) {
	.#{$class}.ui-state-default {
		.ui-inputfield {
			@include inputfield;
		}
		
		.#{$class}-trigger {
			@include button;
			
			height: auto;
			padding: 0;
		}
	
		.ui-icon {
			@include icon;
		}
		
		.ui-icon-triangle-1-s:before {
			font-size: 2.5em;
		}
	}
	
	.#{$class}-panel .#{$class}-items-wrapper {
		max-height: 400px !important;
		
		.#{$class}-list {
			@include select-list($class);
		}
	}
}

@include jeesl-select(ui-selectonemenu);
@include jeesl-select(ui-selectcheckboxmenu);

.ui-selectcheckboxmenu.ui-state-default .ui-selectcheckboxmenu-multiple-container .ui-selectcheckboxmenu-token {
	@include button;
	
	.ui-selectcheckboxmenu-token-icon {
		margin-right: -$regular-spacing;
		padding: 0 $regular-spacing;
	}
}

@mixin headlined-overlay-icon {
	font-size: $font-size-mobile;
	height: $element-height-mobile;
	width: $element-height-mobile;
}

@mixin headlined-overlay($class) {
	padding: $wide-spacing 0;

	.#{$class}-header {
		background: statusBackgroundGradient($element-height-mobile);
		
		.#{$class}-title {
			line-height: $element-height-mobile;
		}
		
		.ui-icon {
			@include icon();
			
			&:before {
				font-size: 2.5em;
			}
		}
	}
}

.ui-selectcheckboxmenu-panel {
	@include headlined-overlay(ui-selectcheckboxmenu);
	
	.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close {
		@include headlined-overlay-icon;
	}
}

.ui-datepicker {
	@include headlined-overlay(ui-datepicker);
	
	.ui-datepicker-header {
		margin: 0;
		
		.ui-datepicker-prev, .ui-datepicker-next {
			@include headlined-overlay-icon;
		}
	}
	
	.ui-datepicker-calendar {
		margin: 0 $wide-spacing;
		width: calc(100% - (2 * #{$wide-spacing}));
		
		> tbody {
			border-width: $separator-thickness-mobile 0;
		
			> tr:last-child .ui-state-default {
				margin-bottom: $slim-spacing;
			}
			
			.ui-state-default {
				font-size: $font-size-ls-mobile;
				font-weight: $font-weight-bold;
				line-height: calc(#{$element-height-mobile} - #{$separator-thickness-mobile});
				padding: 0;
				
				&:after {
					border-bottom: $separator-thickness-mobile solid $bright-grey;
				    content: '';
				    display: block;
				}
				
				&.ui-state-hover {
					background: transparent;
					
					&:after {
						background: none;
					}
				}
			}
		}
	}
	
	.ui-timepicker-div {
		dl {
			dt {
				height: $ls-element-height-mobile;
				line-height: $ls-element-height-mobile;
				padding-left: $ls-element-height-mobile / 2;
			}
			
			dd {
				padding-right: $ls-element-height-mobile / 2;
			}
		}
		
		.ui_tpicker_time_label {
			height: $ls-element-height-mobile;
			line-height: $ls-element-height-mobile;
			padding-left: #{$regular-spacing + $half-spacing + ($ls-element-height-mobile / 2)};
		}
		
		.ui_tpicker_time {
			font-size: 1.2em;
			height: $ls-element-height-mobile;
			line-height: $ls-element-height-mobile;
		}
	}
}

.ui-slider .ui-slider-handle.ui-state-default {
	@include button;
	
	margin-left: -$element-height-mobile / 2;
	top: -($element-height-mobile / 2) + 4px;
	width: $element-height-mobile;
}

@mixin jeesl-sb-dropdown($zindex: 1) {
	.jeesl-dropdown-list {
		height: 0;
	    opacity: 1;
	    overflow: hidden;
		transition: opacity 0s .4s, height .4s ease-in-out, visibility 0s .4s;
	    visibility: visible;
	    width: 100%;
		z-index: 2000;
	
		&:before, &:after {
			content: '';
			display: list-item;
			height: 15px;
			width: 100%;
		}
		
		.jeesl-dropdown-item {
			display: list-item;
		    opacity: 0;
		    padding: 0 15px;
		    transition: opacity 0s .4s;
		    width: 100%;
			
			.jeesl-dropdown-item-label {
				border-bottom-width: 2px;
				display: flex;
				height: $element-height-mobile;
				line-height: $element-height-mobile;
				margin: 0;
				padding: 0 10px;
				text-align: left;
				width: 100%;
				
				.jeesl-dropdown-item-label-icon {
					margin: 0;
					padding: 9px;
				}
			}
		}
	}
}

@mixin jeesl-menu-bar {
	.jeesl-menu-bar-list .jeesl-menu-bar-item {
		position: initial;

		> * {
			font-size: $font-size-mobile;
		}

		.jeesl-menu-bar-button {
			height: $element-height-mobile;
			transition-duration: .4s;
			
			.jeesl-menu-bar-button-summary {
				display: inline-block;
			}
			
			.jeesl-menu-bar-button-selected-items {
				display: none;
			}
		}
		
		.jeesl-overlay-container .jeesl-overlay-wrapper .ui-selectonemenu-list {
			&:before, &:after {
				content: '';
				display: list-item;
				height: 15px;
				width: 100%;
			}
		}
	}
}

.jeesl-header {
	border-color: transparent;
	height: $element-height-mobile;
	
	@include jeesl-sb-dropdown(20);
	@include jeesl-burger-icon-size($element-height-mobile, 10px);
	
	.jeesl-burger-menu-icon {
		display: inline-block;
		top: 0;
	}
	
	.jeesl-dropdown-list {
		background: $white-100;
		margin: 0;
		opacity: 0;
		top: $element-height-mobile;
		visibility: hidden;
		
		&.jeesl-active {
			opacity: 1;
			visibility: visible;
		}
		
		&:not(.jeesl-dropdown-sub) > .jeesl-dropdown-item {
			display: block;
		}
		
		.jeesl-dropdown-item {
			display: block;
			
			.jeesl-dropdown-item-label {
				float: none;
			}
		}
	}
}

.jeesl-breadcrumb-header {
	@include jeesl-menu-bar;
	
	margin: 0 $regular-spacing;

	.jeesl-menu-bar-list {
		.jeesl-subtitle {
			line-height: $element-height-mobile;
		}
		
		.jeesl-menu-bar-item {
			&:not(:last-child) {
				.jeesl-menu-bar-button {
					padding-right: 36px;
				
					&:before, &:after {
						border-width: calc(#{$element-height-mobile} / 2) 1px calc(#{$element-height-mobile} / 2) calc(#{$element-height-mobile} / 2);
					}
				}
				
				.jeesl-dropdown-list {
					right: 0;
					
					.jeesl-dropdown-item .jeesl-dropdown-item-label {
						height: $element-height-mobile;
						line-height: $element-height-mobile;
						
						&:before, &:after {
							display: none;
						}
					}
				}
			}
			
			.jeesl-menu-bar-button {
				line-height: $element-height-mobile;
				padding: 0 15px;
				
				a.jeesl-menu-bar-button-label {
					display: none;
					
					+ .jeesl-menu-bar-button-label {
						display: inline-block;
					}
				}
				
				&.jeesl-active {
					background: $main-background-gradient 12500% 0 / 99% 100% no-repeat;
				}
			}
			
			@include jeesl-sb-dropdown(10);
			
			.jeesl-dropdown-list .jeesl-dropdown-item {
				@include font-dropdown;
				
				&:first-child {
					display: list-item;
				}
			}
		}
	}
}

.jeesl-status-bar {
	@include jeesl-menu-bar;
	
	background: statusBackgroundGradient($element-height-mobile);
	height: auto;
	margin-top: 0;
	
	.jeesl-menu-bar-list {
		.jeesl-menu-bar-item {
			height: $element-height-mobile;
			
			&.jeesl-menu-bar-search {
				display: flex;
				flex-grow: 1;
				
				.ui-inputgroup {
					display: flex;
					flex-grow: 1;
					
					.ui-inputfield {
						flex-grow: 1;
					}
				}
			}
			
			.jeesl-menu-bar-button {
				&.jeesl-active:after {
					opacity: 1;
				}
				
				&.jeesl-menu-bar-popup-button {
					z-index: 1001 !important;
				}
			
				.jeesl-menu-bar-button-label {
					font-size: $font-size-status;
					height: 100%;
					min-width: $element-height-mobile;
					text-align: center;
					
					.jeesl-menu-bar-button-calendar {
						
					}
				}
			}
			
			@include jeesl-sb-dropdown();
			
			.jeesl-dropdown-list {
				&.jeesl-dropdown-list-multi .jeesl-dropdown-item {
					&:first-child {
						border-top-width: 2px;
						
						&:before {
							visibility: visible;
						}
						
						.jeesl-dropdown-item-label {
							padding: 0;
						}
					}
					
					.jeesl-dropdown-item-label {
						padding-right: 0;
						
						.jeesl-dropdown-item-label-icon {
							padding: 12px 0;
							
							&:last-child {
								padding: 12px;
							}
						}
					}
				}
			
				.jeesl-dropdown-item {
					.jeesl-dropdown-item-label {
						@include font-dropdown;
						
						.jeesl-dropdown-item-label-icon {
							padding: 12px 0;
							
							&:not(:first-child) {
								margin-left: 12px;
							}
							
							&:not(:last-child) {
								margin-right: 12px;
							}
						}
					}
					
					&.jeesl-dropdown-multiline-item {
						.jeesl-dropdown-item-title {
							font-size: $font-size-ls-mobile;
							line-height: ($ls-element-height-mobile / 2) - $ls-element-padding-vertical;
							height: ($ls-element-height-mobile / 2) - $ls-element-padding-vertical;
						}
						
						.jeesl-dropdown-item-content {
							font-size: $font-size-ls-mobile;
							line-height: ($ls-element-height-mobile / 2) - $ls-element-padding-vertical;
							height: ($ls-element-height-mobile / 2) - $ls-element-padding-vertical;
						}
					}
				}
			}
			
			.ui-inputgroup {
				padding: $half-spacing;
				pointer-events: all;
				
				 + .jeesl-overlay-container {
					margin: -$slim-spacing 0 0;
					position: absolute;
				}
				
				.ui-inputfield {
					min-width: 106px;
				}
			}
			
			.jeesl-overlay-container {
				@include overlay;
				
				pointer-events: all;
				top: 100%;
				
				.jeesl-overlay-wrapper .ui-selectonemenu-list {
					@include select-list(ui-selectonemenu);
					
					overflow: hidden;
				
					.ui-selectonemenu-item {
						height: auto;
						
						&.jeesl-active {
							.ui-selectonemenu-item-text {
								background: statusBackgroundGradient($element-height-mobile);
							}
						}
						
						&:after {
							margin: 0;
						}
						
						.ui-selectonemenu-item-text {
							font-weight: $font-weight-bold;
							font-size: $font-size-ls-mobile;
							height: $element-height-mobile;
							line-height: $element-height-mobile;
						}
					
						.jeesl-field-tip {
							font-size: $font-size-mobile;
							height: 0;
							margin-top: 0;
							overflow: hidden;
							position: relative;
							transition: height .2s linear;
							width: 100%;
							
							.jeesl-field-tip-content {
								@include overlay;
								
								box-shadow: none;
								padding: 0 $wide-spacing;
								position: relative;
								opacity: 1;
								top: 0;
								
								.jeesl-grid {
									margin: 0;
									padding-bottom: 5px;
								}
							}
						}
					}
				}
			}
		}
		
		.jeesl-menu-bar-calendar-item .jeesl-menu-bar-calendar-item-list {
			.jeesl-calendar-icon {
				height: $element-height-mobile;
				
				> img {
					margin: 0 -#{$half-spacing};
				}
			}
			
			.jeesl-menu-bar-item {
				&:first-child .jeesl-menu-bar-button-label {
					padding-right: 0;
				}
				
				&:last-child .jeesl-menu-bar-button-label {
					padding-left: 0;
				}
			
				.jeesl-menu-bar-button .ui-inputfield {
					height: 100%;
					letter-spacing: -.5px;
					width: 135px;
				}
			}
		}
	}
}

@mixin jeesl-titlebar {
	border-radius: $border-radius-top;
	border-width: 0;
	margin: 0 0 4px 0;
	min-height: $element-height-mobile;
	
	&:after {
		display: block;
	}
}

@mixin jeesl-titlebar-title {
	font-size: $font-size-header;
	letter-spacing: -.5px;
	padding: $half-spacing $regular-spacing;
}

@mixin jeesl-titlebar-actions {
	img {
		height: calc(#{$element-height-mobile} - 2 * #{$ls-element-padding-vertical});
		padding: 0 $ls-element-padding-vertical;
	}
	
	> img {
		margin: $ls-element-padding-vertical 0;
	}
		
	.pf-action-icon, .jeesl-action-icon {
		padding: $ls-element-padding-vertical 0;
		
		&:before {
		    border-left: $border;
		}
	}
}

@mixin jeesl-panel-titlebar {
	.ui-panel-titlebar {
		@include jeesl-titlebar;
		
		.ui-panel-title {
			@include jeesl-titlebar-title;
		}
		
		.ui-panel-actions {
			@include jeesl-titlebar-actions;
		}
	}
}

@mixin jeesl-table-titlebar {
	.ui-datatable-header {
		@include jeesl-titlebar;
		
		.pf-datatable-header-title {
			@include jeesl-titlebar-title;
		}
		
		.pf-datatable-header-actions {
			@include jeesl-titlebar-actions;
		}
	}
}

@mixin jeesl-tabs-titlebar {
	.ui-tabs-header {
		@include jeesl-titlebar;
		
		> a, > span {
			@include jeesl-titlebar-title;
		}
	}
}

@mixin jeesl-dialog-titlebar {
	.ui-dialog-titlebar {
		@include jeesl-titlebar;
		
		pointer-events: none;
		
		> .ui-dialog-title {
			.ui-dialog-title {
				@include jeesl-titlebar-title;
			}
			
			.ui-dialog-titlebar-actions {
				@include jeesl-titlebar-actions;
				
				pointer-events: all;
			}
		}
	}
}

@mixin input-grid {
	.ui-fluid .p-grid {
		display: block;
		padding: 0;
		
		.p-col {
			&.ui-outputlabel {
				left: 50%;
				line-height: normal;
				padding: 0;
				position: absolute;
				top: 0;
				transform: translate(-50%, 0);
				width: auto;
				z-index: 1;
				
				&:first-child {
					left: 15px;
					transform: none;
				}
				
				&:last-child {
					left: auto;
					right: 15px;
					transform: none;
				}
			}
			
			&:not(.ui-outputlabel) {
				line-height: normal;
				padding: .5em 0 $slim-spacing 0;

				// Overriding inline css
				width: 100% !important;

				> * {
					padding: 0 $regular-spacing;
					width: 100%;
					
					> .ui-inputfield {
						padding-left: $regular-spacing;
					}
				}
				
				> span {
					align-items: center;
					background: $light-grey;
					display: flex;
				}
				
				> .ui-selectonemenu {
					padding: 0;
				}
			}
		}
	}
}

@mixin jeesl-editor-layout {
	.ui-texteditor {
		margin-left: -$wide-spacing;
		margin-right: -$wide-spacing;
		
		&:first-child {
			margin-top: -$regular-spacing;
		}
		
		&:last-child {
			margin-bottom: -$regular-spacing;
		}
		
		.ql-toolbar {
			padding: 0;
			
			button {
				height: $element-height-mobile;
				padding: $wide-spacing;
				width: $element-height-mobile;
			}
		}
		
		.ql-container {
			font-size: 1em;
			
			.ql-editor {
				min-height: $element-height-mobile;
			}
		}
	}
}

@mixin jeesl-panel {
	@include jeesl-editor-layout;
	@include jeesl-panel-titlebar;
			
	padding: 0;
	
	.ui-panelgrid {
		&:last-child .ui-panelgrid-cell .ui-datatable {
			margin-bottom: -$half-spacing;
		}
		
		.ui.panelgrid-cell .ui-datatable {
			margin: 0 -#{$regular-spacing};
			width: calc(100% + (2 * #{$regular-spacing}));
		}
		
		.ui-datatable {
			@include jeesl-table-titlebar;
			
			.ui-datatable-header .pf-datatable-header-title {
				font-size: 1.2em;
			}
		}
	}
	
	.ui-tree .ui-treenode .ui-treenode-content {
		@include font-interactable;
		
		border-bottom: 2px solid $soft-grey;
		height: $element-height-mobile;
		
		&.ui-droppable {
			height: 46px;
			line-height: 42px;
		}
		
		.ui-treenode-leaf-icon {
			display: none;
			
			~ .ui-treenode-label {
				padding-left: 43px;
			}
		}
		
		.ui-tree-toggler {
			min-width: $min-button-width-mobile;
			
			&:after {
				border-width: 8px 0 8px 8px;
			}
		}
	}
	
	.jeesl-tabs {
		border-top: $border;
		margin: $half-spacing (-$wide-spacing);
		
		&:last-child {
			margin-bottom: -$regular-spacing;
		}
	}
	
	.ui-panel-content {
		@include input-grid;
		
		padding: $regular-spacing $wide-spacing;
		
		//&:not(.html-container-panel) {
		//	padding: $regular-spacing $wide-spacing !important;
		//}
		
		.ui-galleria {
			margin: -$half-spacing -#{$wide-spacing} -#{$regular-spacing};
			max-width: calc(100% + (2 * #{$wide-spacing}));
			width: calc(100% + (2 * #{$wide-spacing})) !important;
		}
		
		.ui-separator {
			background: $light-grey;
			height: 2px;
			margin: 6px -#{$regular-spacing};
		}
	}
	
	.ui-panel-footer {
		margin: 5px 0 0;
		border-width: 4px 0 0;
	}
}

.jeesl-panel {
	@include jeesl-panel;
}

.ui-fieldset .ui-fieldset-legend {
	@include jeesl-titlebar;
	
	border-width: $border-width;
	font-size: $font-size-header;
	
	&:after {
		margin-left: -1px - $regular-spacing;
	}
	
	.ui-fieldset-toggler:before {
		font-size: 1em;
	}
}

.ui-datatable {
	@include jeesl-table-titlebar;
	
	table thead th, table tbody tr {
		height: $element-height-mobile;
	}
	
	img {
		height: auto;
		max-height: calc(#{$element-height-mobile} - 2 * #{$regular-spacing});
	}
	
	.ui-datatable-header {
		border-width: $border-width $border-width 0;
	}
}

.jeesl-content .jeesl-content-container {
	@for $i from 1 to 13 {
		.jeesl-grid-#{$i} {
			width: calc(100% - 10px);
		}
	}
	
	.ui-panel {
		@include jeesl-panel;
	}

	.height-balance-container > .jeesl-grid {
		margin: 0;
		width: 100%;
	}
}

.jeesl-content-right {
	display: none;
}

.ui-dialog {
	@include jeesl-dialog-titlebar;

	@for $i from 1 to 13 {
		&.jeesl-dialog-#{$i} {
			left: 15px !important;
			transform: translate(0, -50%);
			width: calc(100% - 30px) !important;
		}
	}
	
	&.jeesl-table-dialog .ui-dialog-titlebar {
		margin-bottom: 4px;
	}

	.ui-dialog-content {
		padding: $wide-spacing;
		margin: 0;
		
		.ui-resizable-handle {
			display: none;
		}
		
		.html-container {
			> div > section {
				padding: 0;
			}
		}
	}
}

.jeesl-tabs {
	padding: 0;
	
	&.jeesl-editor {
		.ui-tabs-panel {
			@include jeesl-editor-layout;
		}
	}
	
	.ui-tabs-panel {
		padding: $regular-spacing $wide-spacing;
	}

	.ui-tabs-nav {
		@include jeesl-tabs-titlebar;
		
		border: none;
		padding-top: 3px;
		
		&:after {
			display: block;
			margin-left: -3px;
			width: 100%;
		}
		
		.ui-tabs-header {
			border-width: $border-width;
			margin: 0 3px 0 0;
			top: 0 !important;
			
			&.ui-tabs-selected {
			    border: 0;
				padding: 1px;

				&:before {
					content: '';
				}
				
				a {
					color: $white-100;
					text-shadow: none;
				}
			}
		}
	}
}

.fc .fc-head {
	@include jeesl-titlebar;
	
	.fc-day-header > span {
		@include jeesl-titlebar-title;
	}
}

.ui-panelgrid {
	.ui-panelgrid-cell {
		> * {
			min-height: $element-height-mobile;
		}
	}
}

.input-grid {
	.p-field {
		.p-col {
			&:not(.ui-outputlabel) {
				> * {
					min-height: $element-height-mobile;
				}
			}
		}
	}
}

.html-container-panel {
	.html-container {
		font-size: 1rem;
		line-height: 1.25em;
		
		> div > section {
			padding: $wide-spacing;
			
			h1:first-child {
				@include jeesl-titlebar;
				@include jeesl-titlebar-title;
				
				margin: -$wide-spacing;
				margin-bottom: #{$wide-spacing} + #{$header-element-underline};
			}
		}
	}
}

.pf-action-icon img {
	height: $element-height-mobile;
}