@use '_t3Container' as container;

@mixin overlay() {
	.ui-widget-overlay {
		--t3m-backdrop-blur: blur(8px);
		--t3m-bg-opacity: 0.8;
		
		// Remove primefaces styling.
		background: none;
		opacity: 1;
		
		backdrop-filter: var(--t3m-backdrop-blur);
		background-color: hsla(0, 0%, 100%, var(--t3m-bg-opacity));
	}
}

@mixin container() {
	.jeesl-dialog {
		@include container.panel(ui-dialog-content);
		
		// Important required to override inline styles.
		left: 50% !important;
		top: 50% !important;
		transform: translate(-50%, -50%);
		
		@for $i from 1 through 12 {
			&.jeesl-dialog-#{$i} {
				width: calc(100% * (#{$i} / 12)) !important;
			}
		}
		
		.ui-dialog-titlebar {
			background: none;
			border: none;
			padding: 0;
			
			.ui-dialog-title {
				@include container.titlebar(ui-dialog-titlebar-text, ui-dialog-titlebar-actions, t3-icon);
				
				margin: 0;
			}
		}
	}
}