.jeesl-overlay-container {
	&.jeesl-dropdown-list {
		border-radius: var(--border-bottom-radius);
		
		.jeesl-datatable table thead tr th, .ui-paginator.ui-paginator-bottom {
			background-image: var(--panel-content-select-dropdown-header-background);
			border-radius: 0;
			color: var(--panel-content-select-dropdown-header-foreground);
			height: var(--list-element-height);
			text-shadow: none;
			
			select, a {
				color: var(--panel-content-select-dropdown-header-foreground);
				height: var(--list-element-height);
				text-shadow: none;
			}
		}
		
		.ui-paginator.ui-paginator-bottom { border: none; }
	}
}

.ui-input-overlay {
	background: var(--panel-content-select-dropdown-background);
	border: var(--overlay-border);
	border-radius: var(--overlay-border-radius);
	box-shadow: var(--overlay-box-shadow);
	color: var(--panel-content-select-dropdown-foreground);
	
	.ui-autocomplete-items {
		margin: var(--overlay-list-spacing);
		min-height: var(--list-element-height);
		
		.ui-autocomplete-item {
			background: transparent;
			border: none;
			text-shadow: none;
			transition: background var(--transition-duration) var(--transition-function);
			
			&.ui-state-highlight {
				background: var(--panel-content-select-dropdown-hover-background);
				color: var(--panel-content-select-dropdown-hover-foreground);
			}
			
			td {
				border: none;
			}
		}
	}
}