@mixin input() {
	border-radius: 9999px;
    font-size: 0.875rem;
    padding: 0.5rem 1.5rem;
    background-color: white;
    border: var(--t3m-input-border-width) solid var(--t3m-gray-lighter);
	
	&.ui-state-disabled {
		background-color: var(--t3m-gray-lighter);
		color: var(--t3m-gray);
	}
}