@use 't3Input' as input;

@mixin non-input() {
	@include input.input();

	background-color: var(--t3m-gray-lighter);
	border-color: var(--t3m-gray-lighter);
	color: var(--t3m-gray);
	display: flex;
	line-height: 1rem;
}