@use '_t3Button' as button;
@use '../container/t3Container' as container;

@mixin input() {
	.ui-selectonemenu-trigger.ui-state-default {
		--t3m-button-icon: '\f0dd';
		
		@include button.icon-button();
	
		position: absolute;
		right: 0;
		
		&::before {
			font-size: 1.5rem;
			padding: 0 0 6px 1px;
		}
	}
}

@mixin overlay() {
	.ui-selectonemenu-items-wrapper {
		background: white;
		padding: 5px;
		
		.ui-selectonemenu-items .ui-selectonemenu-item {
			@include container.interactive-background();
			
			border-bottom: 1px solid var(--t3m-gray-light);
			padding: 1rem .75rem;
		}
	}
}